<form class="account max-w-md mx-auto">
  <web-glass-bg>
    <div class="inner-wrap">
      <section class="form-section">
        <h3 class="title">重設密碼</h3>
        <ul class="input-group">
          <!--
          <li>
          <div class="form-label">原密碼<span class="required-mark" *ngIf="f['password'] | ctrlHasRequired">*</span>
          </div>
          <mat-form-field appearance="outline" class="w-full fill-black">
            <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password"
              [required]="f['password'] | ctrlHasRequired">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'不顯示密碼'"
              [attr.aria-pressed]="passwordHide">
              <mat-icon class="min-w-8">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="text-xs" *ngIf="f['password'].errors">
              <div *ngFor="let msg of formHelper.errorMsgs(f['password'].errors, '密碼')">{{ msg }}</div>
            </mat-error>
          </mat-form-field>
        </li>
        -->
                  <li>

            <div class="form-label">原密碼 <span class="required-mark">*</span>
            </div>
            <mat-form-field appearance="outline" class="w-full fill-black">
              <input matInput>
              <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'不顯示密碼'"
                [attr.aria-pressed]="passwordHide">
                <mat-icon class="min-w-8">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="text-xs">

              </mat-error>
            </mat-form-field>

          </li>
          <li>

            <div class="form-label">新密碼 <span class="required-mark">*</span>
            </div>
            <mat-form-field appearance="outline" class="w-full fill-black">
              <input matInput>
              <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'不顯示密碼'"
                [attr.aria-pressed]="passwordHide">
                <mat-icon class="min-w-8">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="text-xs">

              </mat-error>
            </mat-form-field>

          </li>
          <li>

            <div class="form-label">確認新密碼 <span class="required-mark">*</span>
            </div>
            <mat-form-field appearance="outline" class="w-full fill-black">
              <input matInput>
              <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'不顯示密碼'"
                [attr.aria-pressed]="passwordHide">
                <mat-icon class="min-w-8">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="text-xs">

              </mat-error>
            </mat-form-field>
          </li>
        </ul>
      </section>
    </div>

  </web-glass-bg>
  <div class="toolbar">
    <button mat-button routerLink="/">取消</button>
    <button class="btn-primary btn-lg">確定更改</button>
  </div>
</form>