.nav-bar {
    @apply flex items-start justify-between p-4 w-full fixed z-10;
}

.nav-link {
    @apply flex items-center px-4 py-2 rounded-full;

    .material-symbols-rounded {
        @apply text-xl;
    }
}

[id="logoImg"] {
    @apply transition-all ease-in-out duration-500 absolute p-3 w-32 xs:w-40 4xl:w-48;

    &.img-shrink {
        @apply w-20 p-0;
    }
}

.avatar-btn {
    @apply flex items-center min-w-fit;

    .user {
        @apply rounded-xl min-w-8 w-9 h-9 bg-sky-200 text-sky-600 flex items-center justify-center font-bold;
        font-size: 0.875rem;
    }
}

.main-container {
    @apply flex-1 h-full overflow-y-auto relative;
}

.mat-sidenav {
    @apply bg-stone-50;
    min-width: 15rem;
}

.mat-drawer:not(.mat-drawer-side) {
    @apply shadow-none;
}

mat-sidenav-container {
    @apply flex-auto;
}

.menu-button .material-symbols-rounded {
    @apply opacity-100 w-6;
    transition: all 0.3s ease;

    &.hide {
        @apply opacity-0 w-0;
    }
}
/*



.sidenav-list {
    @apply px-5 py-2;

    > a {
        @apply rounded-md my-2 text-base;
    }

    a.focused {
        @apply font-bold bg-sky-200;
    }

    .list-icon {
        @apply w-6 mr-2;
    }
}


    */
