<nav class="nav-bar">
    <web-glass-bg>
        <a routerLink="/">
            <img src="assets/image/logo/mark.png" alt="logo" class="w-28">
        </a>
    </web-glass-bg>

    <web-glass-bg class="ml-auto">
        <a mat-button target="_blank" class="link-item" routerLink="/">關於本會</a>
        <a mat-button target="_blank" class="link-item" routerLink="/">最新消息</a>
        <a mat-button target="_blank" class="link-item" routerLink="/">學術活動</a>
        <a mat-button target="_blank" class="link-item" routerLink="/">認證專區</a>
        <a mat-button target="_blank" class="link-item" routerLink="/">投稿專區</a>
    </web-glass-bg>

    <div class="nav-links" *ngIf="!isSignin">
        <a routerLink="/auth/signin"><web-glass-bg>註冊</web-glass-bg></a>
        <a routerLink="/auth/signin"><web-glass-bg>登入</web-glass-bg></a>
    </div>

    <button *ngIf="isSignin" class="avatar-btn" [matMenuTriggerFor]="accountMenu">
        <span class="user">{{ (currUserInfo?.name || '-').charAt(0) }}</span>
        <span class="material-symbols-rounded">
            keyboard_arrow_down
        </span>
    </button>

    <mat-menu #accountMenu="matMenu">
        <a mat-menu-item routerLink="/account/profile">帳號設定</a>
        <button mat-menu-item (click)="appAuthApiServ.signout()">登出</button>
    </mat-menu>

    <button mat-button (click)="toggleMenu()" class="hamburger-btn">
        <span class="material-symbols-rounded" *ngIf="!snav?.opened">menu</span>
        <span class="material-symbols-rounded" *ngIf="snav?.opened">menu_open</span>
    </button>
</nav>

<mat-sidenav-container>
    <mat-sidenav #snav mode="over" position="end">
        <mat-nav-list class="sidenav-list">
            <a mat-list-item routerLink="/" class="focused">
                <img src="assets/image/icon/grid-view.svg" class="list-icon" alt="list icon">專案管理
            </a>
            <a mat-list-item>
                <img src="assets/image/icon/grid-view.svg" class="list-icon" alt="list icon">元件管理
            </a>
            <a mat-list-item>
                <img src="assets/image/icon/grid-view.svg" class="list-icon" alt="list icon">成本模型管理
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
        <web-footer></web-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
