<mat-sidenav-container hasBackdrop="false" class="bg-white flex items-stretch justify-between w-full h-full">
    <mat-sidenav-content>
        <form class="relative sub-sidenav-left" [formGroup]="valForm">
            <a (click)="doBack()" matTooltipClass="form-tooltip" class="btn-text text-sm ml-5"><span
                    class="material-symbols-rounded">
                    chevron_left
                </span>返回
            </a>
            <div class="side-nav-content">
                <div class="flex items-start justify-between w-full px-6 mb-5">
                    <h2>Option-02 量體進階調整</h2>
                    <button class="card-action pb-0.5 w-3" [matMenuTriggerFor]="actionMenu"
                        (click)="$event.stopPropagation()"><span class="material-symbols-rounded">more_vert
                        </span></button>
                    <mat-menu #actionMenu="matMenu">
                        <button mat-menu-item (click)="doBindVolume()">回到預設值</button>
                        <button mat-menu-item (click)="doParamSave()">儲存</button>
                        <button mat-menu-item (click)="doParamSave(true)">另存新檔</button>
                    </mat-menu>
                </div>

                <mat-accordion class="px-3">
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <p class="text-base font-medium">開啟建築削線檢討範圍</p>
                        </mat-expansion-panel-header>
                        <div class="checkbox-list">
                            <mat-checkbox name="slope36" color="primary"
                                [(ngModel)]="visualizerInput.visualizer.slope36" [ngModelOptions]="{standalone: true}">1
                                : 3.6 檢討</mat-checkbox>
                            <mat-checkbox name="slope50" color="primary"
                                [(ngModel)]="visualizerInput.visualizer.slope50" [ngModelOptions]="{standalone: true}">1
                                : 5.0 檢討</mat-checkbox>
                            <mat-checkbox name="flightLimitationCheck" color="primary"
                                [(ngModel)]="visualizerInput.visualizer.flightLimitationCheck"
                                [ngModelOptions]="{standalone: true}">航空相對高度檢討</mat-checkbox>
                            <mat-checkbox name="setbackCheck" color="primary"
                                [(ngModel)]="visualizerInput.visualizer.setbackCheck"
                                [ngModelOptions]="{standalone: true}">退縮檢討</mat-checkbox>
                            <mat-checkbox name="envelope" color="primary"
                                [(ngModel)]="visualizerInput.visualizer.envelope"
                                [ngModelOptions]="{standalone: true}">落物曲線檢討</mat-checkbox>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <ul class="mt-4 px-6">
                    <li *ngIf="false" class="switch-btn mb-5">
                        <p>開啟建築削線檢討範圍</p>
                        <mat-slide-toggle name="envelope" [(ngModel)]="visualizerInput.visualizer.envelope"
                            (change)="onToggleChanged($event)" color="primary" class="mt-1"
                            [ngModelOptions]="{standalone: true}">
                        </mat-slide-toggle>
                    </li>
                    <li class="switch-btn mb-5">
                        <p>停車場顯示</p>
                        <mat-slide-toggle name="parking" [(ngModel)]="visualizerInput.visualizer.parking"
                            (change)="onToggleChanged($event)" color="primary" [ngModelOptions]="{standalone: true}">
                        </mat-slide-toggle>
                    </li>
                    <li class="switch-btn mb-5">
                        <p>結構顯示</p>
                        <mat-slide-toggle name="structure" [(ngModel)]="visualizerInput.visualizer.structure"
                            (change)="onToggleChanged($event)" color="primary" [ngModelOptions]="{standalone: true}">
                        </mat-slide-toggle>
                    </li>
                    <li *ngIf="false">
                        <div class="form-label">
                            <p>防火梯逃生距離</p>
                        </div>
                        <mat-form-field appearance="outline" class="fill-white" required>
                            <input matInput type="number" placeholder="防火梯逃生距離" formControlName="egressDistance">
                            <span matSuffix class="unit">m</span>
                            <mat-error>請輸入</mat-error>
                        </mat-form-field>
                    </li>
                    <li *ngIf="false">
                        <div class="form-label">
                            <p>最低走廊寬度</p>
                        </div>
                        <mat-form-field appearance="outline" class="fill-white" required>
                            <input matInput type="number" placeholder="請輸入最低走廊寬度" formControlName="corridorWidth">
                            <span matSuffix class="unit">m</span>
                            <mat-error>請輸入</mat-error>
                        </mat-form-field>
                    </li>
                </ul>
                <ul class="pt-4 px-6 border-t">
                    <li>
                        <div class="form-label">
                            <p>樓層數</p>
                        </div>
                        <mat-form-field appearance="outline" class="fill-white" required>
                            <input matInput type="number" placeholder="請輸入樓層數" formControlName="numFloors">
                            <span matSuffix class="unit">層</span>
                            <mat-error>請輸入</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>公設比例</p>
                        </div>
                        <mat-form-field appearance="outline" class="fill-white" required>
                            <input matInput type="number" placeholder="請輸入公設比例" formControlName="publicSpaceRatio">
                            <span matSuffix class="unit">%</span>
                            <mat-error>請輸入</mat-error>
                        </mat-form-field>
                    </li>
                    <li *ngIf="false">
                        <div class="form-label">
                            <p>最少停車格數</p>
                        </div>
                        <mat-form-field appearance="outline" class="fill-white" required>
                            <input matInput type="number" placeholder="請輸入最少停車格數" formControlName="numCarParks">
                            <span matSuffix class="unit">個</span>
                            <mat-error>請輸入</mat-error>
                        </mat-form-field>
                    </li>
                    <li *ngIf="false">
                        <div class="form-label">
                            <p>最少機車格數</p>
                        </div>
                        <mat-form-field appearance="outline" class="fill-white" required>
                            <input matInput type="number" placeholder="請輸入最少機車格數" formControlName="numMotorParks">
                            <span matSuffix class="unit">個</span>
                            <mat-error>請輸入</mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>房型比例</p>
                        </div>
                        <div class="three-segments-slider">
                            <div id="slider-bar" class="slider-bar">
                                <div class="segment segment-1" [style.flex]="segments[0]"></div>
                                <div class="thumb" [style.left.%]="segments[0]" (mousedown)="startDrag(0)"></div>
                                <div class="segment segment-2" [style.flex]="segments[1]"></div>
                                <div class="thumb" [style.left.%]="segments[0] + segments[1]"
                                    (mousedown)="startDrag(1)"></div>
                                <div class="segment segment-3" [style.flex]="segments[2]"></div>
                            </div>

                            <ul class="segments-inputs-warp">
                                <li>
                                    <div class="form-label">
                                        <span class="legend-1"></span>
                                        <p>1 房</p>
                                    </div>
                                    <mat-form-field appearance="outline" class="fill-white w-full">
                                        <input matInput type="number" [(ngModel)]="segments[0]"
                                            (ngModelChange)="onInputChange(0, segments[0])"
                                            [ngModelOptions]="{ standalone: true }" placeholder="1 房" />
                                        <span matSuffix class="unit">%</span>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <div class="form-label">
                                        <span class="legend-2"></span>
                                        <p>2 房</p>
                                    </div>
                                    <mat-form-field appearance="outline" class="fill-white w-full">
                                        <input matInput type="number" [(ngModel)]="segments[1]"
                                            (ngModelChange)="onInputChange(1, segments[1])"
                                            [ngModelOptions]="{ standalone: true }" placeholder="2 房" />
                                        <span matSuffix class="unit">%</span>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <div class="form-label">
                                        <span class="legend-3"></span>
                                        <p>3 房</p>
                                    </div>
                                    <mat-form-field appearance="outline" class="fill-white w-full">
                                        <input matInput type="number" [(ngModel)]="segments[2]"
                                            (ngModelChange)="onInputChange(2, segments[2])"
                                            [ngModelOptions]="{ standalone: true }" placeholder="3 房" />
                                        <span matSuffix class="unit">%</span>
                                    </mat-form-field>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="side-nav-submit">
                <button mat-flat-button color="primary" class="btn-lg h-14 w-full" (click)="onGenerateVolume()">
                    <span class="material-symbols-rounded">check</span>
                    <span>立即套用</span>
                </button>
            </div>
        </form>
        <div class="map-full">
            <button mat-raised-button class="render-btn z-10" (click)="doRenderPre()">
                <span class="material-symbols-rounded pr-2">wand_stars</span>
                <span class="pr-0.5">渲染</span>
            </button>
            <div class="shapediver-viewer">
                <canvas #canvasElement id="shapediver-canvas"></canvas>
            </div>
        </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="over" opened position="end" [class.collapsed]="isCollapsed" class="sub-sidenav-right">
        <!-- Main content -->
        <div class="main-content" *ngIf="!isCollapsed">
            <div class="justify-header">
                <h2>詳細資訊</h2>
                <button class="btn-outline-purple btn-sm ml-auto" (click)="doExportExcel()">
                    <span class="material-symbols-rounded pr-2">download</span>Excel 檔
                </button>
            </div>
            <div class="flex-1 space-y-6 pt-2">
                <ul class="describe-list-col">
                    <li>
                        <span class="label w-20">專案名稱</span>
                        <span class="content">{{buildProjectDto.name}}</span>
                    </li>
                    <li>
                        <span class="label w-20">需求書</span>
                        <span class="content">{{((buildProjectDto.docs || [])[0] || {}).fileName}}</span>
                    </li>
                    <li>
                        <span class="label w-20">房型組</span>
                        <span class="content">{{ buildProjectDto.buildCompBundleId | aryFindValue: buildCompBundleOpts
                            :'id':'name'}}</span>
                    </li>
                    <li>
                        <span class="label w-20">基地位址</span>
                        <span class="content">{{buildProjectDto.addr}}</span>
                    </li>
                </ul>

                <ul *ngIf="volOutput?.option" class="describe-list-col mt-3 border-list text-sm">
                    <li>
                        <span class="label w-36">建蔽率</span>
                        <span
                            class="content">{{(volOutput.option.optionCriteria.basicCriteria.siteConstraints.buildingCoverRatio
                            * 100) | roundDefault:2}} %</span>
                    </li>
                    <li>
                        <span class="label w-36">容積率</span>
                        <span
                            class="content">{{(volOutput.option.optionCriteria.basicCriteria.siteConstraints.floorAreaRatio
                            * 100) | roundDefault:2 }} %</span>
                    </li>
                    <li>
                        <span class="label w-36">防火梯逃生距離</span>
                        <span class="content">{{volOutput.option.optionCriteria.advancedCriteria.egressDistance}}
                            m</span>
                    </li>
                    <li>
                        <span class="label w-36">最低走廊寬度</span>
                        <span class="content">{{volOutput.option.optionCriteria.advancedCriteria.corridorWidth}}
                            m</span>
                    </li>

                    <li>
                        <span class="label w-36">地下室層數</span>
                        <span class="content">{{volOutput.option.optionCriteria.basicCriteria.numBasements}} 層</span>
                    </li>
                    <li>
                        <span class="label w-36">最低戶數</span>
                        <span class="content">{{volOutput.option.optionCriteria.basicCriteria.numApartmentUnits}}
                            戶</span>
                    </li>
                    <li>
                        <span class="label w-36">房型比例</span>
                        <span class="content">{{
                            math.floor(volOutput.option.optionCriteria.basicCriteria.apartmentUnitMix[0].ratio * 100)}}%
                            -
                            {{math.floor(volOutput.option.optionCriteria.basicCriteria.apartmentUnitMix[1].ratio *
                            100)}}% -
                            {{math.floor(volOutput.option.optionCriteria.basicCriteria.apartmentUnitMix[2].ratio *
                            100)}}%</span>
                    </li>
                    <li>
                        <span class="label w-36">公設比例</span>
                        <span class="content">{{(volOutput.option.optionCriteria.basicCriteria.publicSpaceRatio *
                            100) | roundDefault:2 }}%</span>
                    </li>
                    <!-- 0711 需求刪除 -->
                    <!-- <li>
                        <span class="label w-36">最少停車格數</span>
                        <span class="content">{{volOutput.option.optionCriteria.basicCriteria.numCarParks}} 個</span>
                    </li> -->
                    <!-- <li>
                        <span class="label w-36">最少機車格數</span>
                        <span class="content">{{volOutput.option.optionCriteria.basicCriteria.numMotorParks}}</span>
                    </li> -->
                    <li>
                        <span class="label w-36">量體型態</span>
                        <span *ngIf="volOutput.option.optionCriteria.basicCriteria.typology === 0" class="content">I
                            型</span>
                        <span *ngIf="volOutput.option.optionCriteria.basicCriteria.typology === 1" class="content">O
                            型</span>
                        <!-- <span *ngIf="volOutput.option.optionCriteria.basicCriteria.typology === 2" class="content">T
                            型</span> -->
                    </li>
                    <li>
                        <span class="label w-36">總戶數</span>
                        <span class="content">{{volOutput.option.optionCriteria.basicCriteria.numApartmentUnits}}
                            戶</span>
                    </li>
                    <li>
                        <span class="label w-36">地上層總面積</span>
                        <span class="content">{{(volOutput?.option?.report.totalFloorAreaAboveGround | roundDefault) ||
                            '-'}}
                            ㎡</span>
                    </li>
                    <li>
                        <span class="label w-36">地下層總面積</span>
                        <span class="content">{{(volOutput?.option?.report.totalFloorAreaUnderGround | roundDefault) ||
                            '-'}}
                            ㎡</span>
                    </li>
                    <li>
                        <span class="label w-36">總立面表面積</span>
                        <span class="content">{{(volOutput?.option?.report.totalFacadeArea | roundDefault) ||
                            '-'}}
                            ㎡ </span>
                    </li>
                    <li>
                        <span class="label w-36">坪效比（含車位）</span>
                        <span class="content">{{(volOutput?.option?.report.totalEfficiency | roundDefault:2) ||
                            '-'}}
                        </span>
                    </li>
                    <li>
                        <span class="label w-36">停車分數</span>
                        <span class="content">{{(volOutput?.option?.score?.scoreParking | roundDefault) ||
                            '-'}}
                        </span>
                    </li>
                    <li>
                        <span class="label w-36">結構分數</span>
                        <span class="content">{{(volOutput?.option?.score?.scoreStructure | roundDefault) ||
                            '-'}}
                        </span>
                    </li>
                    <li>
                        <span class="label w-36">房型分數</span>
                        <span class="content">{{(volOutput?.option?.score?.scoreUnitMix | roundDefault) ||
                            '-'}}
                        </span>
                    </li>
                </ul>
                <div *ngIf="volOutput?.option" class="card-green px-5 py-4">
                    <h5 class="mb-3"><span class="material-symbols-rounded pr-2">temp_preferences_eco</span>綠建築數值</h5>
                    <ul class="describe-list-col text-primary-800 text-sm">
                        <li>
                            <span class="label w-1/2">日照量</span>
                            <p>
                                <!-- sunlightExposure -->
                                {{(volOutput?.option?.report.totalEfficiency | roundDefault:1 )}}
                                <span>kWh&middot;hr/&#13217;&middot;yr</span>
                            </p>
                        </li>
                        <li>
                            <span class="label w-1/2">熱輻射</span>
                            <p>
                                <!-- heatRadiation -->
                                {{(volOutput?.option?.report.heatRadiation | roundDefault:1 )}}
                                <span>kWh/&#13217;&middot;yr</span>
                            </p>
                        </li>
                        <li>
                            <span class="label w-1/2">耗電量</span>
                            <p>
                                <!-- powerConsumption -->
                                {{(volOutput?.option?.report.powerConsumption | roundDefault:1) }}
                                <span>kh/yr</span>
                            </p>
                        </li>
                        <li>
                            <span class="label w-1/2">碳排量</span>
                            <p>
                                <!-- carbonEmission -->
                                {{(volOutput?.option?.report.carbonEmission | roundDefault:1)}}
                                <span>kgCO&#8322;/yr</span>
                            </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Side Nav -->
        <div class="bg-white border-t sticky bottom-0" *ngIf="!isCollapsed">
            <button mat-button (click)="isCollapsed = !isCollapsed" class="h-12">
                <span class="material-symbols-rounded">arrow_forward_ios</span>
            </button>
        </div>

        <!-- 折疊狀態 內容縮小-->
        <div *ngIf="isCollapsed" class="p-2 flex flex-col h-full">
            <button class="btn-gradient mt-1 mb-4" (click)="doRenderPre()">
                <span class="material-symbols-rounded">wand_stars</span>
            </button>
            <button mat-button (click)="isCollapsed = !isCollapsed" class="flex-1">
                <span class="material-symbols-rounded">arrow_back_ios</span>
            </button>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
