<form [formGroup]="valForm" class="account-wrap">
  <web-glass-bg>
    <div class="inner-wrap">
      <ng-container *ngIf="type === +custApiServ.customerTypes['團體會員']">
        <web-cust-group-control #groupCtrl formControlName="custGroup"></web-cust-group-control>
      </ng-container>
      <ng-container *ngIf="type === +custApiServ.customerTypes['個人會員']">
        <web-cust-member-control #memberCtrl formControlName="custMember"></web-cust-member-control>
      </ng-container>
      <section class="form-section">
        <h3 class="title">您的密碼</h3>
        <ul class="input-group lg:grid-cols-2">
          <li>
            <div class="form-label">密碼 <span class="required-mark" *ngIf="f['password'] | ctrlHasRequired">*</span>
            </div>
            <mat-form-field appearance="outline" class="w-full fill-black">
              <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password"
                [required]="f['password'] | ctrlHasRequired">
              <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'不顯示密碼'"
                [attr.aria-pressed]="passwordHide">
                <mat-icon class="min-w-8">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="text-xs" *ngIf="f['password'].errors">
                <div *ngFor="let msg of formHelper.errorMsgs(f['password'].errors, '密碼')">{{ msg }}</div>
              </mat-error>
            </mat-form-field>
          </li>
          <li>
            <div class="form-label">確認密碼 <span class="required-mark"
                *ngIf="f['confirmPassword'] | ctrlHasRequired">*</span></div>
            <mat-form-field appearance="outline" class="w-full fill-black">
              <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="confirmPassword"
                [required]="f['confirmPassword'] | ctrlHasRequired">
              <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'不顯示密碼'"
                [attr.aria-pressed]="passwordHide">
                <mat-icon class="min-w-8">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error class="text-xs" *ngIf="f['confirmPassword'].errors">
                <div *ngFor="let msg of formHelper.errorMsgs(f['confirmPassword'].errors, '密碼', '確認密碼')">
                  {{ msg }}
                </div>
              </mat-error>
            </mat-form-field>
          </li>
        </ul>
      </section>
    </div>
  </web-glass-bg>
  <div class="toolbar">
    <button class="btn-primary btn-lg" (click)="onSubmit()">送出</button>
  </div>
</form>