<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.6)" [fullScreen]="true">
  <div class="loading-wrapper">
    <div class="isometric">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
    <!-- render loading -->
    <div class="progress-container" *ngIf="showProgressbar">
      <div class="progress-bar"></div>
      <p class="counter-animation">渲染中... <span class="counter-number"></span></p>
    </div>

    <!-- basic loading -->
    <h1 *ngIf="!showProgressbar">Loading<span class="eclipse">...</span></h1>
  </div>
</ngx-spinner>
