<div class="max-w-container pt-32">
    <header class="mt-20 xl:mt-10">
        <h2>
            <span class="display d-black">Academic Activities</span>
            <p class="headline">學術活動</p>
        </h2>
    </header>

    <web-result-empty *ngIf="false" class="block mt-5"></web-result-empty>

    <section class="sort-list-container">

        <div class="sort-link">
            <a class="link-item" *ngFor="let sort of sorts; let i = index" routerLink="/campaign/detail"
                [ngClass]="{ 'focusd': focusedIndex === i }" (click)="setFocused(i)">
                {{ sort }}
            </a>
        </div>

        <div class="campain-list">
            <web-glass-bg class="container-hover" *ngFor="let item of dataSource">
                <a class="block w-full p-2" [routerLink]="['/campaign/detail/', item.uniqueId]">
                    <div class="px-8">
                        <ol class="date-duration">
                            <!-- 開始日 -->
                            <li>
                                <p>
                                    <span class="text-2xl">{{ item.startAt | date: 'MM' }} &#8725;</span><br>
                                    <span>{{ item.startAt | date: 'E' }}</span>
                                </p>
                                <span class="text-6xl">{{ item.startAt | date: 'dd' }}</span>
                            </li>
                            <li class="line"></li>
                            <!-- 結束日 -->
                            <li>
                                <p>
                                    <span class="text-2xl">{{ item.endAt| date: 'MM' }} &#8725;</span><br>
                                    <span>{{ item.endAt | date: 'E' }}</span>
                                </p>
                                <span class="text-6xl">{{ item.endAt | date: 'dd' }}</span>
                            </li>
                        </ol>
                        <h3 class="title-sm">
                          {{ item.name }}
                        </h3>
                        <ul class="describe-list">
                            <li>報名時間<span>&#8739;</span>{{ item.regStartAt | dateFormatter: 'yyyy.MM.dd HH:mm' }} ~ {{ item.regEndAt | dateFormatter: 'yyyy.MM.dd HH:mm' }}</li>
                            <!-- <li>剩餘名額<span>&#8739;</span>{{ 保留第二階段用 }}</li> -->
                        </ul>
                        <mat-progress-bar mode="determinate" color="primary" value="100"
                            class="mb-10"></mat-progress-bar>
                    </div>
                    <button class="btn-white w-full rounded-full h-12">詳細資訊</button>
                </a>
            </web-glass-bg>
        </div>
    </section>
    <web-paginator [params]="{ length: response?.totalCount || 0, pageSize: response?.pageSize || 0, pageIndex: response?.pageIndex || 0 }"
      (pageIndexChange)="onSearch($event)">
    </web-paginator>
</div>
