<div class="max-w-container">
    <header >
        <h2>
            <span class="display d-black">Academic Activities</span>
            <p class="headline">學術活動</p>
        </h2>
    </header>

    <web-result-empty *ngIf="false" class="block mt-5"></web-result-empty>
    <web-result-empty *ngIf="dataSource | isEmpty" class="block mt-5"></web-result-empty>

    <form action="" class="search-wrap mt-5 md:w-1/2 xl:w-1/3">
        <mat-form-field appearance="outline" class="fill-black">
            <span matPrefix class="material-symbols-rounded">search</span>
            <input matInput type="text" [(ngModel)]="request.queryRequest.queryString" name="searchValue" placeholder="搜尋">
            <button *ngIf="request.queryRequest.queryString" matSuffix mat-icon-button aria-label="Clear" (click)="request.queryRequest.queryString = null; onSearch();">
                <span class="material-symbols-rounded">close</span>
            </button>
        </mat-form-field>
        <button class="btn-primary btn-lg" [ngClass]="{'disabled-hide': !request.queryRequest.queryString}"
          [disabled]="!request.queryRequest.queryString"
          (click)="onSearch()">
            搜尋
        </button>
    </form>
    <section class="campain-list">
        <web-glass-bg class="container-hover" *ngFor="let item of dataSource">
            <a class="block p-2" [routerLink]="['/campaign/detail/', item.uniqueId]">
                <div class="p-3">
                    <ol class="date-duration">
                        <!-- 開始日 -->
                        <li>
                            <div class="month-wrap">
                                <p>{{ item.startAt | date: 'MM' }} &#8725;</p>
                                <p>{{ item.startAt | date: 'E' }}.</p>
                            </div>
                            <p class="date">{{ item.startAt | date: 'dd' }}</p>
                        </li>
                        <!-- 結束日 -->
                        <ng-container *ngIf="!(item.endAt | isSameDate: item.startAt)">
                            <li class="line"></li>
                            <li>
                                <div class="month-wrap">
                                    <p>{{ item.endAt | date: 'MM' }} &#8725;</p>
                                    <p>{{ item.endAt | date: 'E' }}.</p>
                                </div>
                                <p class="date">{{ item.endAt | date: 'dd' }}</p>
                            </li>
                        </ng-container>
                    </ol>
                    <h3 class="title-sm">
                        {{ item.name }}
                    </h3>
                    <ul class="describe-list">
                        <li>報名時間<span>&#8739;</span>{{ item.regStartAt | dateFormatter: 'yyyy.MM.dd HH:mm' }} ~ {{
                            item.regEndAt | dateFormatter: 'yyyy.MM.dd HH:mm' }}</li>
                        <!-- <li>剩餘名額<span>&#8739;</span>{{ 保留第二階段用 }}</li> -->
                    </ul>
                    <mat-progress-bar mode="determinate" color="primary" value="100"
                        class="mb-5"></mat-progress-bar>
                </div>
                <button class="btn-white w-full rounded-full h-12">詳細資訊</button>
            </a>
        </web-glass-bg>
    </section>
    <web-paginator
        [params]="{ length: response?.totalCount || 0, pageSize: response?.pageSize || 0, pageIndex: response?.pageIndex || 0 }"
        (pageIndexChange)="onSearch($event)">
    </web-paginator>
</div>
