<div>
  <cms-page-header>
    <div class="flex gap-x-2">
      <!-- <button mat-raised-button color="primary" (click)="doEdit()">
              <span class="material-icons-outlined pr-2 text-lg">library_add</span>
              <span>新增{{actionName}}</span>
            </button> -->
    </div>
  </cms-page-header>

  <nz-card class="mx-4 mb-4 border p-5 border-slate-200 rounded-md">
    <form>
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="'聯絡方式'" [nzActive]="true">
          <mat-form-field appearance="outline" class="w-full" *ngFor="let contact of editObj.contactDetails">
            <mat-label>{{ contact.name }}</mat-label>
            <input matInput type="text" [(ngModel)]="contact.value" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </nz-collapse-panel>

        <nz-collapse-panel [nzHeader]="'社群媒體'" [nzActive]="false">
          <mat-form-field appearance="outline" class="w-full" *ngFor="let contact of editObj.socialMedia">
            <mat-label>{{ contact.name }} URL</mat-label>
            <input matInput type="text" [(ngModel)]="contact.url" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </nz-collapse-panel>
      </nz-collapse>
    </form>
    <div class="mt-2 text-right">
      <mat-divider class="pt-2"></mat-divider>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <span class="material-icons-outlined pr-2 text-lg">save</span>
        <span>儲存</span>
      </button>
    </div>
  </nz-card>
</div>
