<div class="max-w-container pt-32">
  <header class="mt-20 xl:mt-10">
    <h2>
      <span class="display d-black">Latest News</span>
      <p class="headline">最新消息</p>
    </h2>
  </header>

  <web-result-empty *ngIf="dataSource | isEmpty" class="block mt-5"></web-result-empty>

  <section class="sort-list-container">
    <div class="sort-link">
      <a class="link-item" [ngClass]="{ 'focusd': true }"
        (click)="onCatChange()" >
        所有消息
      </a>
      <a class="link-item" *ngFor="let cat of newsCatsCache;"
        [ngClass]="{ 'focusd': true }" (click)="onCatChange(cat.id)">
        {{ cat.name }}
      </a>
    </div>

    <div class="news-list flex-auto">
      <a *ngFor="let item of dataSource" [routerLink]="['/news/detail/', item.uniqueId]">
        <p class="space-x-2">
          <span> {{ item.startAt | dateFormatter: 'yyyy.MM.dd': '' }}</span>
          <span class="sort">{{ item.catName }}</span>
        </p>
        <h3> {{ item.title }}</h3>
      </a>
      <web-paginator [params]="{ length: response?.totalCount || 0, pageSize: response?.pageSize || 0, pageIndex: response?.pageIndex || 0 }"
        (pageIndexChange)="onSearch($event)">
      </web-paginator>
    </div>
  </section>
</div>
