<div class="max-w-container">
  <header>
    <h2>
      <span class="display d-black">Latest News</span>
      <p class="headline">最新消息</p>
    </h2>
  </header>

  <section class="sort-list-container">

    <form action="" class="pb-5">
      <div class="search-wrap mt-5">
        <mat-form-field appearance="outline" class="fill-black">
          <span matPrefix class="material-symbols-rounded">search</span>
          <input matInput type="text" [(ngModel)]="request.queryRequest.queryString" name="searchValue"
            placeholder="搜尋">
          <button *ngIf="request.queryRequest.queryString" matSuffix mat-icon-button aria-label="Clear"
            (click)="request.queryRequest.queryString = null; onSearch();">
            <span class="material-symbols-rounded">close</span>
          </button>
        </mat-form-field>
        <button class="btn-primary btn-lg" [ngClass]="{'disabled-hide': !request.queryRequest.queryString}"
          [disabled]="!request.queryRequest.queryString" (click)="onSearch()">
          搜尋
        </button>
      </div>
      <mat-chip-listbox class="sort-link" aria-label="sort selection">
        <mat-chip-option (click)="onCatChange()" selected>所有消息</mat-chip-option>
        <mat-chip-option *ngFor="let cat of newsCatsCache;" (click)="onCatChange(cat.id)">{{ cat.name
          }}</mat-chip-option>
      </mat-chip-listbox>
    </form>

    <div class="news-list">
      <!-- Loading -->
      <bbd-loading-indicator *ngIf="isLoading" [type]="'skeleton'" [message]="'活動資料讀取中，請稍候'"></bbd-loading-indicator>
      <!-- 空資料 -->
      <web-result-empty *ngIf="!isLoading && (dataSource | isEmpty)" class="block mt-5"></web-result-empty>

      <!-- 有資料 -->
      <ng-container *ngIf="!isLoading && !(dataSource | isEmpty)">
        <a *ngFor="let item of dataSource" [routerLink]="['/news/detail/', item.uniqueId]">
          <div class="info-wrap">
            <p class="pin" *ngIf="item.stickyAt"><span class="material-symbols-rounded pr-1">pinboard</span>置頂</p>
            <p>{{ item.catName }} &#8739;</p>
            <p> {{ item.startAt | dateFormatter: 'yyyy.MM.dd': '' }}</p>
          </div>
          <h3> {{ item.title }}</h3>
        </a>
        <web-paginator
          [params]="{ length: response?.totalCount || 0, pageSize: response?.pageSize || 0, pageIndex: response?.pageIndex || 0 }"
          (pageIndexChange)="onSearch($event)">
        </web-paginator>
      </ng-container>
    </div>


  </section>
</div>