<div class="">
  <form [formGroup]="valForm">
    <div class="grid grid-cols-12 gap-x-4">
      <div class="col-span-12 my-5 flex items-center gap-4 before:h-px before:flex-1 before:bg-gray-300  before:content-[''] after:h-px after:flex-1 after:bg-gray-300  after:content-['']">
        <span class="text-base">個人資料</span>
      </div>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>姓名</mat-label>
        <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['name'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '姓名')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>身分證號</mat-label>
        <input matInput type="text" formControlName="idNo" [required]="f['idNo'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['idNo'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['idNo'].errors, '身分證號')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>性別</mat-label>
        <mat-select formControlName="gender" [required]="f['gender'] | ctrlHasRequired">
          <ng-container *ngFor="let opt of sharedDataServ.genderOpts">
            <mat-option [value]="opt.value">{{ opt.name }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error class="text-xs" *ngIf="f['gender'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['gender'].errors, '性別')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>出生日期</mat-label>
        <input matInput [matDatepicker]="birthAtDatepicker" formControlName="birthAt"
          [required]="f['birthAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="birthAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #birthAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['birthAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['birthAt'].errors, '出生日期')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-8">
        <mat-label>電子信箱</mat-label>
        <input matInput type="text" formControlName="email" [required]="f['email'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['email'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['email'].errors, '電子信箱')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>聯絡手機</mat-label>
        <input matInput type="text" formControlName="mobile" [required]="f['mobile'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['mobile'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['mobile'].errors, '聯絡手機')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>聯絡電話</mat-label>
        <input matInput type="text" formControlName="phone" [required]="f['phone'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['phone'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['phone'].errors, '聯絡電話')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-4">
        <mat-label>分機</mat-label>
        <input matInput type="text" formControlName="phoneExt" [required]="f['phoneExt'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['phoneExt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['phoneExt'].errors, '分機')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <bbd-zip-code-control #resiZipCode class="w-full col-span-full sm:col-span-6" formControlName="resiZipCodeId"
        title="戶藉" [required]="f['resiZipCodeId'] | ctrlHasRequired">
      </bbd-zip-code-control>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
        <mat-label>戶藉地址</mat-label>
        <input matInput type="text" formControlName="resiAddr" [required]="f['resiAddr'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['resiAddr'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['resiAddr'].errors, '戶藉地址')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <bbd-zip-code-control #currZipCode class="w-full col-span-full sm:col-span-6" formControlName="currZipCodeId"
        title="聯絡" [required]="f['currZipCodeId'] | ctrlHasRequired">
      </bbd-zip-code-control>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
        <mat-label>聯絡地址</mat-label>
        <input matInput type="text" formControlName="currAddr" [required]="f['currAddr'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['currAddr'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['currAddr'].errors, '聯絡地址')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>推薦人</mat-label>
        <input matInput type="text" formControlName="recommender" [required]="f['recommender'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['recommender'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['recommender'].errors, '推薦人')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <ng-container formGroupName="contentJto">
        <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
          <mat-label>學歷</mat-label>
          <textarea matInput formControlName="education" rows="8" placeholder="您的學歷..." [required]="f['education'] | ctrlHasRequired">
          </textarea>
          <mat-error class="text-xs" *ngIf="f['contentJto'].get('education')?.errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('education')?.errors, '學歷')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
          <mat-label>經歷</mat-label>
          <textarea matInput formControlName="experience" rows="8" placeholder="您的經歷..." [required]="f['experience'] | ctrlHasRequired">
          </textarea>
          <mat-error class="text-xs" *ngIf="f['contentJto'].get('experience')?.errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('experience')?.errors, '經歷')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
</div>
