<form [formGroup]="valForm" class="account-wrap">
    <web-glass-bg>
      <div class="inner-wrap">
        <ng-container *ngIf="custType === +custApiServ.customerTypes['團體會員']">
          <web-cust-group-control #groupCtrl formControlName="custGroup"></web-cust-group-control>
        </ng-container>
        <ng-container *ngIf="custType === +custApiServ.customerTypes['個人會員']">
          <web-cust-member-control #memberCtrl formControlName="custMember"></web-cust-member-control>
        </ng-container>
      </div>
    </web-glass-bg>
    <div class="toolbar">
        <button class="btn-primary btn-lg" (click)="onSubmit()">送出</button>
    </div>
</form>
