<div class="max-w-container">
    <div class="flex flex-col h-full">
        <header class="basic-header">
            <h1>個人資訊</h1>
        </header>
        <form [formGroup]="valForm" class="form-card mt-3">
            <div class="inputs-container w-full grid lg:grid-cols-2 gap-x-6">
                <ul class="">
                    <li>
                        <div class="form-label">
                            <p>電子信箱(帳號) <span *ngIf="f['email'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="email"
                                [required]="f['email'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['email'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['email'].errors, '電子信箱(帳號)')">{{ msg }}
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>姓名<span *ngIf="f['name'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['name'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '姓名')">{{ msg }}</div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>英文名<span *ngIf="f['nameEn'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="nameEn"
                                [required]="f['nameEn'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['nameEn'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['nameEn'].errors, '英文名')">{{ msg }}</div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>暱稱<span *ngIf="f['nickname'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="nickname"
                                [required]="f['nickname'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['nickname'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['nickname'].errors, '暱稱')">{{ msg }}
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>手機<span *ngIf="f['mobile'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="mobile"
                                [required]="f['mobile'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['mobile'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['mobile'].errors, '手機')">{{ msg }}</div>
                            </mat-error>
                        </mat-form-field>
                    </li>

                    <li>
                        <div class="form-label">
                            <p>室話<span *ngIf="f['phone'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="phone"
                                [required]="f['phone'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['phone'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['phone'].errors, '室話')">{{ msg }}</div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>分機<span *ngIf="f['phoneExt'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="phoneExt"
                                [required]="f['phoneExt'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['phoneExt'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['phoneExt'].errors, '分機')">{{ msg }}
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                    <li>
                        <div class="form-label">
                            <p>郵遞區號<span *ngIf="f['zipCodeId'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                         <bbd-zip-code-widget class="block mt-3" [title]="''" formControlName="zipCodeId"></bbd-zip-code-widget>
                    </li>
                        <li>
                        <div class="form-label">
                            <p>地址<span *ngIf="f['addr'] | ctrlHasRequired" class="required-mark">*</span></p>
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput type="text" formControlName="addr"
                                [required]="f['addr'] | ctrlHasRequired">
                            <mat-error class="text-xs" *ngIf="f['addr'].errors">
                                <div *ngFor="let msg of formHelper.errorMsgs(f['addr'].errors, '地址Ｆ')">{{ msg }}
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </li>
                </ul>
                <div class="flex justify-end items-start space-x-2">
                    <button mat-stroked-button routerLink="/">取消</button>
                    <button mat-flat-button color="primary" (click)="onSubmit()">儲存</button>
                </div>
            </div>
        </form>
    </div>
</div>