<div class="">
  <form [formGroup]="valForm">
    <div class="grid grid-cols-12 gap-x-4">
      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>活動名稱</mat-label>
        <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['name'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '活動名稱')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>活動地點</mat-label>
        <ng-container formGroupName="contentJto">
          <input matInput type="text" formControlName="location"
            [required]="f['contentJto'].get('location') | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['contentJto'].get('location')?.errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('location')?.errors, '活動地點')">
              {{ msg }}
            </div>
          </mat-error>
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>活動講師</mat-label>
        <ng-container formGroupName="contentJto">
          <input matInput type="text" formControlName="speakers"
            [required]="f['contentJto'].get('speakers') | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['contentJto'].get('speakers')?.errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('speakers')?.errors, '活動講師')">
              {{ msg }}
            </div>
          </mat-error>
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>主辦單位</mat-label>
        <ng-container formGroupName="contentJto">
          <mat-chip-grid #organizerChipGrid>
            <mat-chip-row *ngFor="let item of f['contentJto'].get('organizers')?.value" (removed)="removeChip(item, 'organizers')">
              {{ item }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input matInput placeholder="輸入後按 Enter 新增..."
            [matChipInputFor]="organizerChipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addChip($event, 'organizers')">
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>協辦單位</mat-label>
        <ng-container formGroupName="contentJto">
          <mat-chip-grid #coOrganizerChipGrid>
            <mat-chip-row *ngFor="let item of f['contentJto'].get('coOrganizers')?.value" (removed)="removeChip(item, 'coOrganizers')">
              {{ item }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input matInput placeholder="輸入後按 Enter 新增..."
            [matChipInputFor]="coOrganizerChipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addChip($event, 'coOrganizers')">
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>活動開始時間</mat-label>
        <input matInput [matDatepicker]="startAtDatepicker" formControlName="startAt"
          [required]="f['startAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="startAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['startAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['startAt'].errors, '活動開始時間')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-2">
        <mat-label>時分</mat-label>
        <input matInput name="startTimeAt" [format]="24" formControlName="startTimeAt"
          [ngxMatTimepicker]="pickerStartTimeAt" placeholder="01:00" readonly />
        <mat-icon matSuffix (click)="pickerStartTimeAt.open()">
          watch_later
        </mat-icon>
        <ngx-mat-timepicker #pickerStartTimeAt [cancelBtnTmpl]="timePickerCancel"
          [confirmBtnTmpl]="timePickerConfirm">
        </ngx-mat-timepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>活動結束時間</mat-label>
        <input matInput [matDatepicker]="endAtDatepicker" formControlName="endAt"
          [required]="f['endAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="endAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['endAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['endAt'].errors, '活動結束時間', '活動開始時間')">{{ msg }}
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-2">
        <mat-label>時分</mat-label>
        <input matInput name="endTimeAt" [format]="24" formControlName="endTimeAt"
          [ngxMatTimepicker]="pickerendTimeAt" placeholder="01:00" readonly />
        <mat-icon matSuffix (click)="pickerendTimeAt.open()">
          watch_later
        </mat-icon>
        <ngx-mat-timepicker #pickerendTimeAt [cancelBtnTmpl]="timePickerCancel"
          [confirmBtnTmpl]="timePickerConfirm">
        </ngx-mat-timepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>報名開始時間</mat-label>
        <input matInput [matDatepicker]="regStartAtDatepicker" formControlName="regStartAt"
          [required]="f['regStartAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="regStartAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #regStartAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['regStartAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['regStartAt'].errors, '報名開始時間')">{{ msg }}
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-2">
        <mat-label>時分</mat-label>
        <input matInput name="regStartTimeAt" [format]="24" formControlName="regStartTimeAt"
          [ngxMatTimepicker]="regStartTimeAtPicker" placeholder="01:00" readonly />
        <mat-icon matSuffix (click)="regStartTimeAtPicker.open()">
          watch_later
        </mat-icon>
        <ngx-mat-timepicker #regStartTimeAtPicker [cancelBtnTmpl]="timePickerCancel"
          [confirmBtnTmpl]="timePickerConfirm">
        </ngx-mat-timepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>報名結束時間</mat-label>
        <input matInput [matDatepicker]="regEndAtDatepicker" formControlName="regEndAt"
          [required]="f['regEndAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="regEndAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #regEndAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['regEndAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['regEndAt'].errors, '報名結束時間', '報名開始時間')">
            {{ msg }}
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-2">
        <mat-label>時分</mat-label>
        <input matInput name="regEndTimeAt" [format]="24" formControlName="regEndTimeAt"
          [ngxMatTimepicker]="regEndTimeAtPicker" placeholder="01:00" readonly />
        <mat-icon matSuffix (click)="regEndTimeAtPicker.open()">
          watch_later
        </mat-icon>
        <ngx-mat-timepicker #regEndTimeAtPicker [cancelBtnTmpl]="timePickerCancel"
          [confirmBtnTmpl]="timePickerConfirm">
        </ngx-mat-timepicker>
      </mat-form-field>

      <mat-slide-toggle class="w-full col-span-full sm:col-span-6 mb-8" formControlName="isOpenReg">不限會員</mat-slide-toggle>
      <ng-container formGroupName="contentJto">
        <mat-slide-toggle class="w-full col-span-full sm:col-span-6 mb-8" formControlName="hasMeal">供餐</mat-slide-toggle>
      </ng-container>

      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>報名費 / 0 為免費報名</mat-label>
        <input matInput type="number" formControlName="pricing" [required]="f['pricing'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['pricing'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['pricing'].errors, '報名費')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>會員報名費 / 0 為會員免費報名</mat-label>
        <input matInput type="number" formControlName="salePrice" [required]="f['salePrice'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['salePrice'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['salePrice'].errors, '會員報名費')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>最大報名人數 / 0 為無限制</mat-label>
        <input matInput type="number" formControlName="maxRegNum"
          [required]="f['maxRegNum'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['maxRegNum'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['maxRegNum'].errors, '最大報名人數')">{{ msg }}
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-4">
        <mat-label>活動總時數</mat-label>
        <input matInput type="number" formControlName="totalHours" [step]="0.5"
          [required]="f['totalHours'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['totalHours'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['totalHours'].errors, '活動總時數')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <ng-container formGroupName="contentJto">
        <div class="col-span-full my-5 flex items-center gap-4 before:h-px before:flex-1 before:bg-gray-300  before:content-[''] after:h-px after:flex-1 after:bg-gray-300 after:content-['']">
          <span class="text-base">活動內容</span>
        </div>
        <bbd-quill-editor class="w-full col-span-full" formControlName="desc" placeholder="活動內容..."></bbd-quill-editor>
      </ng-container>

    </div>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="doCancel()">取消</button>
  <nz-divider nzType="vertical"></nz-divider>
  <!-- <button nz-button nzType="primary" nz-button nz-dropdown [nzDropdownMenu]="menuEdit">操作</button> -->
  <button nz-button nzType="primary" (click)="onSubmit()">確認</button>
</div>

<ng-template #timePickerCancel>
  <div class="mr-4">
    <a class="font-bold text-base h-10">取消</a>
  </div>
</ng-template>
<ng-template #timePickerConfirm>
  <div>
    <a class="font-bold text-base h-10">確定</a>
  </div>
</ng-template>

<nz-dropdown-menu #menuEdit="nzDropdownMenu">
  <ul nz-menu>
    <ng-container>
      <li nz-menu-item>
        <div
          class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded-sm border border-blue-400 inline-flex items-center justify-center">
          操作
        </div>
      </li>
      <!-- <li nz-menu-item>
        <button nz-button nzType="text" (click)="onEnableCustCat(editDto.id)" class="w-full text-left"
          [disabled]="!(editDto.status !== customerApiServ.custCatStatuses['啟用'])">啟用狀態</button>
      </li> -->
      <!-- <li nz-menu-item>
        <button nz-button nzType="text" (click)="onDisableCustCat(editDto.id)" class="w-full text-left"
          [disabled]="!(editDto.status !== customerApiServ.custCatStatuses['停用'])">停用狀態</button>
      </li> -->
    </ng-container>
  </ul>
</nz-dropdown-menu>
