<div class="sky-gradient-animated overflow-auto">
    <div class="floating-bg opacity-70">
        <img src="/assets/image/illustration/sphere-001.webp" alt="" class="sphere-01">
        <img src="/assets/image/illustration/sphere-002.webp" alt="" class="sphere-02">
    </div>

    <div class="max-w-container relative">
        <h2>
            <span class="display d-black text-pretty">Join the Future of Smart Diagnostics</span>
            <p class="headline font-bold mt-4">註冊會員</p>
        </h2>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="個人會員">
                <form>
                    <header class="mb-2">
                        <ol class="text-base list-circle pl-4 space-y-2 mt-4">
                            <li>
                                入會費用：個人會員入會費參佰元，常年費陸佰元，合計玖佰元。
                            </li>
                            <li>學生會員入會費貳佰元，常年費參佰元，合計伍佰元。</li>
                            <li>Regular membership: Joining fee 300 NTD, Annual fee 600 NTD, Total 900 NTD
                            </li>
                            <li>
                                Student membership: Joining fee 200 NTD, Annual fee 300 NTD, Total 500 NTD
                            </li>
                        </ol>
                    </header>
                    <web-glass-bg>
                        <div class="pt-4 pb-12">
                            <section>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">身份別<span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <mat-select>
                                                <mat-option value="" disabled selected>請選擇</mat-option>
                                                <mat-option value="">團體</mat-option>
                                                <mat-option value="">個人</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">基本資料</h3>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">姓名 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="姓名" required>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">出生日期 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" required>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">性別 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <mat-select required>
                                                <mat-option value="" disabled selected>請選擇</mat-option>
                                                <mat-option value="male">男</mat-option>
                                                <mat-option value="female">女</mat-option>
                                                <mat-option value="other">其他</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">
                                            <p>身分證號<span class="required-mark">*</span></p>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="身分證號" required>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">推薦人</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="推薦人">
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">聯絡資訊</h3>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">行動電話 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" required>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">聯絡電話</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="聯絡電話">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">電子信箱 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="email" required>
                                        </mat-form-field>
                                    </li>

                                    <li class="col-span-full">
                                        <div class="form-label">戶籍地址</div>
                                        <div class="multi-inputs grid-cols-6">
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇縣市</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇區域</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
                                                <input matInput placeholder="街道號碼">
                                            </mat-form-field>
                                        </div>
                                    </li>
                                    <li class="lg:col-span-full">
                                        <div class="form-label">聯絡地址
                                            <mat-checkbox color="primary"><span
                                                    class="text-base -ml-2">同上</span></mat-checkbox>
                                        </div>
                                        <div class="multi-inputs grid-cols-6">
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇縣市</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇區域</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
                                                <input matInput placeholder="街道號碼">
                                            </mat-form-field>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">學經歷</h3>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">學歷</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="學歷">
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">經歷</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="經歷">
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">現職</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="現職">
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">帳號資料</h3>
                                <ul class="input-group lg:grid-cols-2">
                                    <li>
                                        <div class="form-label">
                                            密碼<span class="required-mark">*</span>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="密碼" required>
                                            <mat-hint>至少長 8 位數</mat-hint>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">
                                            確認密碼<span class="required-mark">*</span>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="確認密碼" required>
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </web-glass-bg>
                    <div class="toolbar col-span-full">
                        <button class="btn-primary">送出</button>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="團體會員">
                <form>
                    <header class="mb-2">
                        <ol class="text-base list-circle pl-4 space-y-2 mt-4">
                            <li>團體會員入會費參仟元，常年費參仟元，合計陸仟元。</li>
                            <li>Group membership: Joining fee 3000 NTD, Annual fee 3000 NTD, Total 6000 NTD</li>
                        </ol>
                    </header>
                    <web-glass-bg>
                        <div class="pb-10">
                            <section>
                                <h3 class="title">基本資料</h3>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">團體名稱 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="團體名稱" required>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">
                                            <p>統一編號<span class="required-mark">*</span></p>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="統一編號" required>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">負責人</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="職稱">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">負責人</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="姓名">
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">聯絡資訊</h3>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">聯絡電話</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="聯絡電話">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">電子信箱 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="email" required>
                                        </mat-form-field>
                                    </li>

                                    <li class="col-span-full">
                                        <div class="form-label">地址</div>
                                        <div class="multi-inputs grid-cols-6">
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇縣市</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇區域</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
                                                <input matInput placeholder="街道號碼">
                                            </mat-form-field>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">會員代表</h3>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">職稱</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="職稱">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">姓名 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="姓名" required>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">出生日期 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" required>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">性別 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <mat-select required>
                                                <mat-option value="" disabled selected>請選擇</mat-option>
                                                <mat-option value="male">男</mat-option>
                                                <mat-option value="female">女</mat-option>
                                                <mat-option value="other">其他</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">
                                            <p>身分證號<span class="required-mark">*</span></p>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="身分證號" required>
                                        </mat-form-field>
                                    </li>
                                </ul>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">行動電話 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" required>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">聯絡電話</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="聯絡電話">
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">電子信箱 <span class="required-mark">*</span></div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="email" required>
                                        </mat-form-field>
                                    </li>

                                    <li class="col-span-full">
                                        <div class="form-label">戶籍地址</div>
                                        <div class="multi-inputs grid-cols-6">
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇縣市</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇區域</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
                                                <input matInput placeholder="街道號碼">
                                            </mat-form-field>
                                        </div>
                                    </li>
                                    <li class="lg:col-span-full">
                                        <div class="form-label">聯絡地址
                                            <mat-checkbox color="primary"><span
                                                    class="text-base -ml-2">同上</span></mat-checkbox>
                                        </div>
                                        <div class="multi-inputs grid-cols-6">
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇縣市</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black">
                                                <mat-select>
                                                    <mat-option value="" disabled selected>請選擇區域</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
                                                <input matInput placeholder="街道號碼">
                                            </mat-form-field>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="input-group lg:grid-cols-3">
                                    <li>
                                        <div class="form-label">學歷</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="學歷">
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">經歷</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="經歷">
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="form-label">現職</div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput type="tel" placeholder="現職">
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                            <section>
                                <h3 class="title">帳號資料</h3>
                                <ul class="input-group lg:grid-cols-2">
                                    <li>
                                        <div class="form-label">
                                            密碼<span class="required-mark">*</span>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="密碼" required>
                                            <mat-hint>至少長 8 位數</mat-hint>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <div class="form-label">
                                            確認密碼<span class="required-mark">*</span>
                                        </div>
                                        <mat-form-field appearance="outline" class="w-full fill-black">
                                            <input matInput placeholder="確認密碼" required>
                                        </mat-form-field>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </web-glass-bg>
                    <div class="toolbar col-span-full">
                        <button class="btn-primary">送出</button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>


    </div>



    <!-- 
    <div class="relative grid items-center gap-y-5 gap-x-10 max-w-container lg:grid-cols-2">
        <img src="assets/image/logo/mark.png" alt="logo" class="w-32 mx-auto md:w-40 lg:w-full max-w-md">

        <section class="w-full max-w-64 mx-auto xs:max-w-none">
            <div class="p-6">
                    <web-glass-bg>
                    
                    <form>


                        <div class="mb-5 space-y-5">
                            <button class="btn-primary btn-lg">註冊</button>
                            <button mat-button class="mx-auto">登入</button>
                        </div>
                    </form>

                    <p class="text-center text-sm m-auto text-slate-500 mt-auto mb-0">登入或註冊即表示您同意我們的
                        <a target="_blank" routerLink="/auth/policy">隱私權與服務政策</a>
                    </p>
                </web-glass-bg>
                </div>
        </section>
    </div>
    -->
</div>