<div class="pt-10 xl:pt-5 4xl:pt-0">
  <span class="display d-black">Join the Future<br/>of Smart Diagnostics</span>
  <div class="max-w-container px-0">
    <mat-tab-group class="tab-label-lg stretch-none-dk">
      <mat-tab label="註冊個人會員">
        <div class="tab-container">
          <header>
            <ol>
              <li>
                入會費用：個人會員入會費參佰元，常年費陸佰元，合計玖佰元。
              </li>
              <li>學生會員入會費貳佰元，常年費參佰元，合計伍佰元。</li>
              <li>Regular membership: Joining fee 300 NTD, Annual fee 600 NTD, Total 900 NTD
              </li>
              <li>
                Student membership: Joining fee 200 NTD, Annual fee 300 NTD, Total 500 NTD
              </li>
            </ol>
          </header>
          <div class="lg:col-span-2">
            <web-cust-edit-widget [custId]="0" [type]="+custApiServ.customerTypes['個人會員']"></web-cust-edit-widget>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="註冊團體會員">
        <div class="tab-container">
          <header>
            <ol>
              <li>團體會員入會費參仟元，常年費參仟元，合計陸仟元。</li>
              <li>Group membership: Joining fee 3000 NTD, Annual fee 3000 NTD, Total 6000 NTD</li>
            </ol>
          </header>
          <div class="lg:col-span-2">
            <web-cust-edit-widget [custId]="0" [type]="+custApiServ.customerTypes['團體會員']"></web-cust-edit-widget>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>