<div class="min-h-container w-full max-w-3xl mx-auto p-5">
    <header class="news-list">
        <div class="info-wrap">
            <p class="pin" *ngIf="response?.stickyAt"><span class="material-symbols-rounded pr-1">pinboard</span>置頂</p>
            <p>學會公告 &#8739;</p>
            <p>{{ response?.startAt | dateFormatter: 'yyyy.MM.dd': '' }}</p>
          </div>
        <h2 class="headline">{{ response?.title }}</h2>
    </header>
    <section class="h-auto text-base my-10 text-pretty">
      <bbd-quill-editor-viewer [content]="(response?.content || '{}' | jsonParse)?.desc">
      </bbd-quill-editor-viewer>
    </section>

    <a class="link-underline" routerLink="/news/list">
      <span class="material-symbols-rounded">arrow_left_alt</span>
      <span>消息列表</span>
    </a>
</div>
