<div class="min-h-container w-full max-w-2xl mx-auto py-20">
    <header>
        <p class="space-x-2 label">
            <span> 2025.10.15 news.date</span>
            <span class="sort"> 學會公告 news.sort</span>
        </p>
        <h3 class="headline ">【114年學術研討會暨第三屆第一次會員大會 】：時程通知及海報論文徵稿 news.title</h3>
    </header>
    <!-- 編輯器內容 
    <section class="h-auto text-base my-10 text-pretty">
        <app-bbd-quill-editor-viewer [content]="(info.content || '{}' | jsonParse)?.desc">
        </app-bbd-quill-editor-viewer>
    </section>
    -->

    <a class="link link-underline" target="_blank">
        <span class="material-symbols-rounded pr-2">arrow_left_alt</span>
        消息列表
    </a>
</div>