<div class="min-h-container w-full max-w-2xl mx-auto py-20">
    <header>
        <p class="space-x-2 label">
            <span>{{ response?.startAt | dateFormatter: 'yyyy.MM.dd': '' }}</span>
            <span class="sort"> 學會公告</span>
        </p>
        <h3 class="headline">{{ response?.title }}</h3>
    </header>
    <section class="h-auto text-base my-10 text-pretty">
      <bbd-quill-editor-viewer [content]="(response?.content || '{}' | jsonParse)?.desc">
      </bbd-quill-editor-viewer>
    </section>

    <a class="link link-underline" routerLink="/news/list">
      <span class="material-symbols-rounded pr-2">arrow_left_alt</span>
      消息列表
    </a>
</div>
