/* Card */
.card {
  @apply bg-white border border-primary-200 rounded-lg shadow max-h-full overflow-auto relative;

  .cover {
    @apply aspect-[4/3] object-cover rounded;
  }

  // 只有名稱
  .name {
    @apply text-xl font-bold mt-2;
  }

  // 有名稱、edit btn
  .name-wrap {
    @apply flex items-start justify-between mt-2;

    > div {
      @apply pr-1;
    }

    h2 {
      @apply line-clamp-2 flex-1 pt-1;
    }
  }

  .date {
    @apply text-base text-primary-gray mt-1;
  }

  .card-action {
    @apply w-8 h-8 rounded hover:bg-stone-100 mt-0.5;
  }

  .card-action .material-symbols-outlined {
    @apply h-auto align-middle;
    font-size: 1.5rem;
  }
}

a.card,
.card.link {
  @apply text-primary-900 ease-in-out duration-300 cursor-pointer p-4 hover:shadow-lg;
}

.card-green {
  @apply bg-[#DDEBEB] rounded-lg;

  h5 {
    @apply text-primary-800 flex items-center;
  }
}

/* list */
.describe-list-row {
  @apply grid grid-cols-4 gap-2 p-5;

  li {
    @apply flex flex-wrap;
  }

  li > span {
    @apply max-w-[12.5rem] line-clamp-2;
  }
}

.describe-list-col {
  li {
    @apply flex items-start w-full py-1;
  }

  .label {
    @apply text-primary-800 min-w-fit;
  }

  .content {
    @apply text-primary-800 font-bold pl-2 flex-1 truncate;
  }

  &.between .content {
    @apply text-right;
  }
}

.describe-list-col.border-list {
  @apply border-b rounded;

  > li {
    @apply py-0 border-b;
  }

  > li:last-of-type {
    border-bottom: 0;
  }

  .label {
    @apply bg-primary-50 px-4 py-2;
  }

  .content,
  .data {
    @apply px-4 py-2;
  }

  &.list-sm {
    @apply text-sm;
  }

  &.list-sm .label,
  &.list-sm .content {
    @apply px-3;
  }
}

.card-list-container {
  @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-4;

  > .card {
    @apply w-full;
  }
}

/* Mapbox */
[class^="map-container"] {
  @apply w-full h-full relative overflow-hidden;

  .mapboxgl-canvas-container {
    @apply w-full h-full block;
  }

  .mapboxgl-canvas {
    @apply min-h-full object-cover;
  }

  .mapboxgl-ctrl-logo {
    display: none;
  }

  .mat-mdc-unelevated-button:not(:disabled) {
    @apply shadow-md h-11;
  }

  .btn-tl {
    @apply absolute top-2 left-2;
  }

  .btn-bl {
    @apply absolute bottom-2 left-2;
  }

  .info-tr {
    @apply absolute top-2 right-2 flex items-center space-x-2;
  }

  .info-content {
    @apply bg-black/70 text-white rounded px-4 py-2 h-11 flex items-center;
  }

  .button-toggle-container {
    @apply bg-white p-2 rounded flex items-center space-x-2 shadow-md;
  }

  .mat-button-toggle-group-appearance-standard:not([class*="mat-elevation-z"]) {
    //@apply shadow-md;
  }

  .mat-button-toggle {
    @apply flex items-center justify-center rounded h-8;
  }

  .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: 0;
  }

  .mat-button-toggle-group-appearance-standard {
    border: none;
  }

  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    @apply bg-primary-500 text-white;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    @apply text-sm font-medium py-1;
  }
}

.map-full {
  @apply absolute h-full inset-0;

  > img {
    @apply w-full h-full object-contain;
  }
}

.hide-mapbox-ctrl {
  .mapboxgl-ctrl {
    display: none;
  }
}

// Search bar
.mapboxgl-ctrl-geocoder {
  @apply relative rounded-[5px] shadow-none border border-stone-200;

  .mapboxgl-ctrl-geocoder--input {
    @apply text-black text-sm h-8 relative rounded-[5px] hover:outline-black hover:outline-2 hover:outline focus:outline-primary-500 focus:outline-2 focus:outline;
  }

  .mapboxgl-ctrl-geocoder--input::placeholder {
    @apply text-neutral-400;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    @apply fill-black inset-y-0 m-auto w-6 h-6 left-2;
  }

  .mapboxgl-ctrl-geocoder--pin-right > * {
    @apply bg-white right-[14px] top-[14px];
  }
}

.mapbox-search-hint {
  .mapboxgl-ctrl-geocoder {
    @apply mb-4;
  }

  .mapboxgl-ctrl-geocoder::after {
    //@apply absolute -bottom-7 left-0 text-sm text-gray-400;
    //content: "輸入後請按下 Enter 鍵直接搜尋";
  }
}

[aria-label="Clear"].mapboxgl-ctrl-geocoder--button {
  @apply inset-y-1 right-1 w-10 rounded-full;

  .mapboxgl-ctrl-geocoder--icon-close {
    @apply fill-black;
  }

  &:not(:disabled):hover .mapboxgl-ctrl-geocoder--icon-close {
    @apply fill-black;
  }
}
