.display {
    @apply text-white text-balance text-5xl leading-tight tracking-tight md:text-7xl 2xl:text-8xl 4xl:text-9xl;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.5), 0 10px 30px rgba(255, 255, 255, 0.3);
}       

.headline {
    @apply text-gray-600 text-2xl leading-relaxed tracking-widest 4xl:text-4xl;
}

.title {
    @apply text-xl 4xl:text-2xl font-medium;
}

.label {
    @apply text-sm;
}

p,
li,
figcaption {
    @apply text-gray-600;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}
