<div>
  <cms-page-header></cms-page-header>

  <nz-card class="mx-4 mb-4 border border-slate-200 rounded-md">
    <section class="relative">
      <nz-collapse nzGhost>
        <nz-collapse-panel [nzHeader]="panelHeader" [nzShowArrow]="false" [nzActive]="true" #panel
          class="collapse-fit mx-4 mb-3 md:mb-0">
          <ng-template #panelHeader>
            <p class="flex items-center text-base min-w-max">
              <span class="material-icons-outlined text-2xl -ml-3 mb-0.5">manage_search</span>
              <span class="font-medium pl-1">篩選查詢</span>
              <span nz-icon nzType="right" class="ant-collapse-arrow px-2" [nzRotate]="panel.nzActive ? 90 : 0"></span>
            </p>
          </ng-template>

          <cms-search-bar [queryRequest]="request.queryRequest" (doSearch)="onSearch()" class="w-full">
            <div  slot="start" class="inner-group">
              <mat-form-field appearance="outline" class="flex-auto">
                <mat-label>活動</mat-label>
                <mat-select [(ngModel)]="request.queryRequest.campId" (ngModelChange)="onSearch()">
                  <mat-option [value]="0">請先選擇作業活動</mat-option>
                  <mat-option *ngFor="let opt of campaignOpts" [value]="+opt.id">
                    <div class="flex items-center">
                      <span>【{{opt.status | aryFindValue:campaignApiServ.campaignStatusOpts:'value':'name'}}】</span>
                      <p class="flex-1 truncate">{{opt.name}}</p>
                      <span class="px-1"> {{opt.startAt | dateFormatter: 'yyyy-MM-dd': '-'}} </span>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="selector">
                <mat-label>作業類型</mat-label>
                <mat-select [(ngModel)]="request.queryRequest.signType">
                  <mat-option [value]="0">選擇作業類型</mat-option>
                  <mat-option *ngFor="let opt of campaignApiServ.campAttendLogSignTypeOpts" [value]="+opt.value">
                    {{ opt.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>會員條碼</mat-label>
                <input matInput #signCode type="search" [(ngModel)]="request.queryRequest.signCode"
                  [placeholder]="'掃瞄會員條碼'" (keyup.enter)="onSearch(1, true)" />
                <div matSuffix class="w-11">
                  <button *ngIf="request.queryRequest.signCode" (click)="request.queryRequest.signCode = '';onSearch();"
                    aria-label="Clear"
                    class="rounded-full bg-slate-200 bg-opacity-60 w-7 h-7 hover:bg-opacity-100 transition-all">
                    <span class="material-symbols-outlined mx-auto transform scale-75 opacity-80">close</span>
                  </button>
                </div>
              </mat-form-field>
            </div>
          </cms-search-bar>
        </nz-collapse-panel>
      </nz-collapse>
    </section>
  </nz-card>

  <section class="grid grid-cols-2 lg:grid-cols-4 gap-4 m-4" *ngIf="attendStat.campId">
    <div class="stat-card" [ngClass]="'stat-card-' + stat.color" *ngFor="let stat of [
      { icon: 'person', title: '報名數', value: attendStat.regTotal, color: 'blue' },
      { icon: 'check', title: '第一次已簽到人數', value: attendStat.checkIn1Total, color: 'teal' },
      { icon: 'done_all', title: '第二次已簽到人數', value: attendStat.checkIn2Total, color: 'green' },
      { icon: 'logout', title: '已簽退人數', value: attendStat.checkOutTotal, color: 'gray' }
    ]">
      <span class="material-symbols-outlined stat-icon">{{ stat.icon }}</span>
      <div class="stat-info">
        <p class="srat-title">{{ stat.title }}</p>
        <p class="stat-value">{{ stat.value }}</p>
      </div>
    </div>
  </section>

  <nz-card class="mx-4 mb-4 border border-slate-200 rounded-md">
    <nz-empty [nzNotFoundContent]="contentTpl" class="py-10" *ngIf="false">
      <ng-template #contentTpl>
        <span>目前尚無資料</span>
      </ng-template>
    </nz-empty>

    <nz-table class="overflow-x-auto m-4" #listTable [nzFrontPagination]="false" [nzShowPagination]="false"
      [nzData]="dataSource" [nzLoading]="dataLoading" [nzSize]="'small'">
      <thead>
        <tr>
          <th>報名時間</th>
          <th>活動名稱</th>
          <th>會員名稱</th>
          <th>身份證號</th>
          <th nzWidth="60px" nzAlign="center">報名狀態</th>
          <th>第一次簽到時間</th>
          <th>第二次簽到時間</th>
          <th>簽退時間</th>
          <th nzRight [nzWidth]="'120px'">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listTable.data">
          <td>{{ data.campRegAt| dateFormatter: 'yyyy-MM-dd HH:mm': '-' }}</td>
          <td>{{ data.campName }}</td>
          <td>{{ data.custName }}</td>
          <td>{{ data.custIdNo }}</td>
          <td>
            <nz-tag class="font-semibold"
              [nzColor]="(data.campRegStatus | aryFindValue: campaignApiServ.getCampRegStatusInfos(): 'value': 'style') ?? 'default'">
              {{ data.campRegStatus | aryFindValue: campaignApiServ.getCampRegStatusInfos(): 'value': 'name' }}
            </nz-tag>
          </td>
          <td>{{ data.start1At | dateFormatter: 'yyyy-MM-dd HH:mm': '-' }}</td>
          <td>{{ data.start2At | dateFormatter: 'yyyy-MM-dd HH:mm': '-' }}</td>
          <td>{{ data.endAt | dateFormatter: 'yyyy-MM-dd HH:mm': '-' }}</td>

          <td nzRight>
            <div class="flex space-x-2">
              <button
                *ngIf="!data.start1At && request.queryRequest.signType === +campaignApiServ.campAttendLogSignTypes['第一次簽到']"
                class="font-medium flex items-center justify-center p-1 mt-1 shadow rounded hover:shadow-none" nz-button
                nzType="primary" (click)="onSignCampAttendLog(data, +campaignApiServ.campAttendLogSignTypes['第一次簽到'])"
                [nzSize]="'small'">
                <span class="material-icons-outlined pr-1 text-base font-medium flex items-center">check_circle</span>
                <span class="text-sm">第一次簽到</span>
              </button>
              <button
                *ngIf="!data.start2At && request.queryRequest.signType === +campaignApiServ.campAttendLogSignTypes['第二次簽到']"
                class="font-medium flex items-center justify-center p-1 mt-1 shadow rounded hover:shadow-none" nz-button
                nzType="primary" (click)="onSignCampAttendLog(data, +campaignApiServ.campAttendLogSignTypes['第二次簽到'])"
                [nzSize]="'small'">
                <span class="material-icons-outlined pr-1 text-base font-medium flex items-center">check_circle</span>
                <span class="text-sm">第二次簽到</span>
              </button>
              <button
                *ngIf="!data.endAt && request.queryRequest.signType === +campaignApiServ.campAttendLogSignTypes['簽退']"
                class="font-medium flex items-center justify-center p-1 mt-1 shadow rounded hover:shadow-none" nz-button
                nzType="default" (click)="onSignCampAttendLog(data, +campaignApiServ.campAttendLogSignTypes['簽退'])"
                [nzSize]="'small'">
                <span class="material-icons-outlined pr-1 text-base font-medium flex items-center">logout</span>
                <span class="text-sm">簽退</span>
              </button>
              <button nz-button nz-dropdown nzType="text" *ngIf="data.start1At || data.start2At || data.endAt"
                [nzDropdownMenu]="menuEdit" class="w-11 rounded-full px-0">
                <span class="material-icons-outlined align-middle">more_vert</span>
              </button>
            </div>

            <nz-dropdown-menu #menuEdit="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngIf="data.start1At">
                  <button nz-button nzType="text" class="w-full text-left"
                    (click)="onCancelSignCampAttendLog(data, +campaignApiServ.campAttendLogSignTypes['第一次簽到'])">
                    取消第一次簽到
                  </button>
                </li>
                <li nz-menu-item *ngIf="data.start2At">
                  <button nz-button nzType="text" class="w-full text-left"
                    (click)="onCancelSignCampAttendLog(data, +campaignApiServ.campAttendLogSignTypes['第二次簽到'])">
                    取消第二次簽到
                  </button>
                </li>
                <li nz-menu-item *ngIf="data.endAt">
                  <button nz-button nzType="text" class="w-full text-left"
                    (click)="onCancelSignCampAttendLog(data, +campaignApiServ.campAttendLogSignTypes['簽退'])">
                    取消簽退
                  </button>
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <section>
      <nz-pagination class="flex justify-end mt-3 mb-4 px-4 lg:px-6" [nzPageIndex]="response?.pageIndex"
        [nzPageSize]="response?.pageSize" [nzTotal]="response?.totalCount" (nzPageIndexChange)="onSearch($event);">
      </nz-pagination>
    </section>
  </nz-card>
</div>