<div class="max-w-container h-full">
    <div class="flex flex-col h-full">
        <header class="basic-header">
            <a routerLink="/" class="btn-text text-sm"><span class="material-symbols-outlined">chevron_left</span>返回
            </a>
            <h1>{{editMode === 'edit' ? fBP['name'].value:'新增專案' }}</h1>
        </header>

        <mat-stepper #stepper class="flex-auto mt-3" (selectionChange)="onStepChange($event)"
            [selectedIndex]="selectedStepIndex" [linear]="stepperLinear">
            <mat-step [stepControl]="buildProjectForm">
                <ng-template matStepLabel>步驟 1 : 專案資訊</ng-template>
                <form [formGroup]="buildProjectForm">
                    <div class="step-actions">
                        <button mat-flat-button color="primary" (click)="onBuildProjectSubmit()">下一步</button>
                    </div>
                    <div class="inputs-container w-full grid lg:grid-cols-2 gap-x-6">
                        <ul class="space-y-1">
                            <li>
                                <div class="form-label">
                                    <p>專案名稱 <span *ngIf="fBP['name'] | ctrlHasRequired" class="required-mark">*</span>
                                    </p>
                                </div>
                                <mat-form-field appearance="outline" class="w-full">
                                    <input matInput type="text" formControlName="name"
                                        [required]="fBP['name'] | ctrlHasRequired">
                                    <mat-error class="text-xs" *ngIf="fBP['name'].errors">
                                        <div *ngFor="let msg of formHelper.errorMsgs(fBP['name'].errors, '專案名稱')">{{ msg
                                            }}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <div class="form-label">
                                    <p>專案地址/地段 <span *ngIf="fBP['addr'] | ctrlHasRequired"
                                            class="required-mark">*</span></p>
                                </div>
                                <mat-form-field appearance="outline" class="w-full">
                                    <input matInput type="text" formControlName="addr"
                                        [required]="fBP['addr'] | ctrlHasRequired">
                                    <mat-error class="text-xs" *ngIf="fBP['addr'].errors">
                                        <div *ngFor="let msg of formHelper.errorMsgs(fBP['addr'].errors, '專案名稱')">
                                            {{msg}}
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <ng-container formGroupName="contentJto">
                                    <div class="form-label">
                                        <p>備註<span *ngIf="fBP['contentJto'].get('remark')?.value | ctrlHasRequired"
                                                class="required-mark">*</span></p>
                                    </div>
                                    <mat-form-field appearance="outline" class="w-full -mb-4">
                                        <input matInput type="text" formControlName="remark"
                                            [required]="fBP['contentJto'].get('remark')?.value | ctrlHasRequired">
                                        <mat-error class="text-xs" *ngIf="fBP['contentJto'].get('remark')?.errors">
                                            <div
                                                *ngFor="let msg of formHelper.errorMsgs(fBP['contentJto'].get('remark')?.errors, '備註')">
                                                {{msg}}
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-container>
                            </li>
                            <li class="w-full pt-5">
                                <div class="form-label">
                                    <p>專案封面照</p>
                                </div>
                                <bbd-image-upload [attId]="buildProjectDto.coverAttId" class="block mt-1 w-28"
                                    (imageSelected)="onBuildProjectCoverAttFileSelected($event)">
                                </bbd-image-upload>
                                <p class="text-sm text-primary-gray mt-2">格式需為 jpeg、png, 檔案限制 2M 以下, 400*300px </p>
                                <button class="btn-outline-purple my-2" *ngIf="false"><span
                                        class="material-symbols-outlined pr-2">wand_stars</span>生成封面圖</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>步驟 2 : 需求及房型資料</ng-template>
                <form [formGroup]="secondFormGroup">
                    <div class="inputs-container space-y-10">
                        <section class="w-full">
                            <div class="section-title-wrap w-full">
                                <div class="pr-2">
                                    <b><span class="material-symbols-outlined">
                                            upload_file
                                        </span>請上傳需求書</b>
                                    <p class="hint">格式需為.pdf, 檔案大小不能超過 10M</p>
                                </div>
                            </div>
                            <div class="form-section mt-4">
                                <table *ngIf="buildProjectDto.docs?.length" mat-table
                                    [dataSource]="buildProjectDto.docs || []" class="w-full">
                                    <ng-container matColumnDef="fileName">
                                        <th mat-header-cell *matHeaderCellDef> 名稱 </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="updAt">
                                        <th mat-header-cell *matHeaderCellDef> 上傳日期 </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.updAt | date:'yyyy/MM/dd
                                            HH:mm:ss' }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <p class="pl-4">動作</p>
                                        </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <button mat-button color="warn"
                                                (click)="removeDoc(i, element.id)">刪除</button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="docDispCols"></tr>
                                    <tr mat-row *matRowDef="let row; columns: docDispCols;"></tr>
                                </table>
                                <div class="flex items-center space-x-2 mt-4">
                                    <button class="btn-outline-purple" (click)="fileInput.click()"><span
                                            class="material-symbols-outlined">attachment</span><span>上傳需求書</span>
                                    </button>
                                    <button *ngIf="demoDocId" class="btn-outline-purple"
                                        (click)="getArcgenDocs(demoDocId)"><span
                                            class="material-symbols-outlined"></span>查詢狀況</button>
                                    <button *ngIf="demoDocId" class="btn-outline-purple"
                                        (click)="getArcgenDocsAnalysis(demoDocId)"><span
                                            class="material-symbols-outlined"></span>需求書分析</button>
                                    <input type="file" #fileInput style="display: none" accept="application/pdf"
                                        (change)="onDocSelected($event)" />
                                </div>
                            </div>
                        </section>
                        <section class="w-full">
                            <div class="section-title-wrap">
                                <div class="pr-2">
                                    <b><span class="material-symbols-outlined">
                                            ink_selection
                                        </span>請選擇房型組</b>
                                </div>
                            </div>
                            <div class="form-section mt-2">
                                <mat-radio-group aria-label="Select an option" color="primary" mame="buildCompBundleId"
                                    [ngModelOptions]="{standalone: true}" class="radio-multi-imgs-container"
                                    [(ngModel)]="buildProjectDto.buildCompBundleId">
                                    <mat-radio-button [value]="item.id" *ngFor="let item of buildCompBundleOpts">
                                        <p class="label">{{ item.name }}</p>
                                        <ol class="img-wrap">
                                            <li *ngFor="let dtl of item.details">
                                                <img [src]="dtl.thumbnailAttId | fileUrl"
                                                    *ngIf="dtl.thumbnailAttId > 0">
                                                <img [src]="'assets/image/illustration/empty-img.png'"
                                                    *ngIf="!dtl.thumbnailAttId">
                                                <p>{{dtl.buildCompName}}</p>
                                            </li>
                                        </ol>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </section>
                    </div>
                    <div class="step-actions">
                        <button mat-stroked-button matStepperPrevious>上一步</button>
                        <button mat-flat-button color="primary" (click)="doNextStartDraw()">下一步</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <ng-template matStepLabel>步驟 3 : 設定基地邊界</ng-template>
                <form [formGroup]="thirdFormGroup" class="flex-outer">
                    <div class="inputs-container flex-outer">
                        <div class="form-label mb-1">
                            <p>請輸入基地位址，並圈選基地邊界<span class="required-mark">*</span></p>
                        </div>
                        <!-- Mapbox -->
                        <div class="mapbox-search-hint map-site-boundary">
                            <!-- <div *ngTemplateOutlet="mapboxEditWidget"></div> -->
                            <web-mapbox-edit-widget #mapboxA [(screenshotFile)]="screenshotFile" class="block"
                                [currCoords]="coords" [borderCoords]="borderCoords"
                                (borderChange)="handleBorderCoordChange($event)" [isShowLineBack]="isShowLineBack"
                                (coordsChange)="handleCoordsChange($event)" [currArea]="currArea"
                                (currAreaOnChange)="handleAreaChange($event)" [center$]="center$" [zoom$]="zoom$"
                                (mapMoved)="onMapMoved($event)"></web-mapbox-edit-widget>
                        </div>
                    </div>
                    <div class="step-actions">
                        <button mat-stroked-button matStepperPrevious>上一步</button>
                        <button mat-flat-button color="primary" (click)="doNextFinishDraw()">下一步</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="forthFormGroup">
                <ng-template matStepLabel>步驟 4 : 設定退縮距離</ng-template>

                <form [formGroup]="forthFormGroup" class="flex-outer">
                    <div class="inputs-container flex-outer">
                        <!-- <div class="grid gap-x-4 md:gap-x-10 md:grid-cols-6 max-w-2xl">
                            <mat-form-field appearance="outline" required>
                                <mat-label>Edge 1</mat-label>
                                <input matInput type="number" placeholder="請輸入距離">
                                <span matSuffix>m</span>
                            </mat-form-field>
                            <mat-form-field appearance="outline" required>
                                <mat-label>Edge 2</mat-label>
                                <input matInput type="number" placeholder="請輸入距離">
                                <span matSuffix>m</span>
                            </mat-form-field>
                            <mat-form-field appearance="outline" required>
                                <mat-label>Edge 3</mat-label>
                                <input matInput type="number" placeholder="請輸入距離">
                                <span matSuffix>m</span>
                            </mat-form-field>
                            <mat-form-field appearance="outline" required>
                                <mat-label>Edge 4</mat-label>
                                <input matInput type="number" placeholder="請輸入距離">
                                <span matSuffix>m</span>
                            </mat-form-field>
                        </div> -->
                        <div class="grid gap-x-4 -mb-2 md:gap-x-10 md:grid-cols-6 max-w-4xl">
                            <mat-form-field *ngFor="let edge of edgeBacks; let i = index; trackBy: trackByEdgeIndex"
                                appearance="outline" required>
                                <mat-label>Edge {{ i + 1 }}</mat-label>
                                <input matInput type="number" placeholder="請輸入距離" [(ngModel)]="edgeBacks[i]"
                                    name="edgeBack{{i}}" (ngModelChange)="onEdgeBackChange()" required
                                    [ngModelOptions]="{standalone: true}">
                                <span matSuffix>m</span>
                            </mat-form-field>
                            <mat-form-field class="w-40" appearance="outline" required>
                                <mat-label>航高限制相對高度</mat-label>
                                <input matInput name="flightLimitation" type="number" placeholder="請輸入高度"
                                    [(ngModel)]="buildProjectContentJto.flightLimitation" required
                                    [ngModelOptions]="{standalone: true}">
                                <span matSuffix>m</span>
                            </mat-form-field>
                        </div>

                        <!-- Mapbox -->
                        <div class="map-stback hide-mapbox-ctrl mt-auto">
                            <!-- <div *ngTemplateOutlet="mapboxEditWidget"></div> -->
                            <web-mapbox-edit-widget #mapboxB class="block" [currCoords]="coords"
                                [(currBacks)]="currBacks" [isShowLineBack]="true" [drawingMode]="'readOnly'"
                                (coordsChange)="handleCoordsChange($event)"
                                (currAreaOnChange)="handleAreaChange($event)" [currArea]="currArea" [center$]="center$"
                                [zoom$]="zoom$" (mapMoved)="onMapMoved($event)"></web-mapbox-edit-widget>
                        </div>
                    </div>
                    <div class="step-actions">
                        <button mat-stroked-button matStepperPrevious>上一步</button>
                        <button mat-flat-button color="primary" (click)="doFinishSubmit()">開始整合</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>

<ng-template #mapboxEditWidget>
    <!-- <web-mapbox-edit-widget class="block" [currCoords]="currCoords" [currBacks]="currBacks" [isShowLineBack]="isShowLineBack"></web-mapbox-edit-widget> -->
</ng-template>