form {
    @apply flex flex-col h-full relative;
}

.step-actions {
    @apply flex items-center justify-end space-x-2 right-5 top-4 absolute;
}

.radio-multi-imgs-container {
    @apply grid gap-4 lg:grid-cols-2 xl:grid-cols-3;

    mat-radio-group {
        @apply w-full;
    }
}

table {
    .shrink-img {
        @apply w-16 aspect-video object-cover my-2;
    }
}

mat-stepper {
    @apply rounded-lg;
    height: calc(100% - 6.25rem);
}

.section-title-wrap {
    @apply justify-between;
}

.map-site-boundary web-mapbox-edit-widget {
    height: calc(100vh - 20.5rem);
}

.map-stback web-mapbox-edit-widget {
    height: calc(100vh - 19.7rem);
}
