<div class="">
  <form [formGroup]="valForm">
    <div class="grid grid-cols-12 gap-x-4">
      <mat-form-field appearance="outline" class="w-full col-span-6">
        <mat-label>狀態</mat-label>
        <mat-select formControlName="status" [required]="f['status'] | ctrlHasRequired">
          <ng-container *ngFor="let opt of appMsgApiServ.appNewsMsgStatusOpts">
            <mat-option [value]="+opt.value">{{ opt.name }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error class="text-xs" *ngIf="f['status'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['status'].errors, '狀態')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-6">
        <mat-label>排序</mat-label>
        <input matInput type="number" formControlName="sort" [required]="f['sort'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['sort'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['sort'].errors, '排序')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
        <mat-label>發佈日期</mat-label>
        <input matInput [matDatepicker]="startAtDatepicker" formControlName="startAt"
          [required]="f['startAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="startAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['startAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['startAt'].errors, '開始日期')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
        <mat-label>截止日期</mat-label>
        <input matInput [matDatepicker]="endAtDatepicker" formControlName="endAt"
          [required]="f['endAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="endAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['endAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['endAt'].errors, '截止日期', '開始日期')">{{ msg }}
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>標題</mat-label>
        <input matInput type="text" formControlName="title" [required]="f['title'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['title'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['title'].errors, '標題')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full col-span-full">
        <mat-label>描述</mat-label>
        <textarea matInput rows="4" type="text" formControlName="desc" [required]="f['desc'] | ctrlHasRequired">
        </textarea>
        <mat-error class="text-xs" *ngIf="f['desc'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['desc']?.errors, '描述')">{{
            msg }}</div>
        </mat-error>
      </mat-form-field>
    </div>

    <ng-container>
      <mat-label class="col-span-full mb-2 text-xl font-black">封面圖片</mat-label>
      <div class="grid grid-cols-12 gap-x-4">
        <bbd-img-native-upload name="img-native-upload" class="w-full col-span-12" [(files)]="imgFiles"
          [previewSrc]="coverImgUrl" [(_attId)]="editDto.coverAttId"></bbd-img-native-upload>
      </div>
      <div class="p-4 mb-4 text-base text-blue-800 rounded-lg bg-blue-50" role="alert">
        <span class="font-medium">上傳圖片尺寸為 1024*576px</span>
      </div>
    </ng-container>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="doCancel()">取消</button>
  <button nz-button nzType="primary" (click)="onSubmit()">確認</button>
</div>

<ng-template #timePickerCancel>
  <div class="mr-4">
    <a class="font-bold text-base h-10">取消</a>
  </div>
</ng-template>
<ng-template #timePickerConfirm>
  <div>
    <a class="font-bold text-base h-10">確定</a>
  </div>
</ng-template>

<nz-dropdown-menu #menuEdit="nzDropdownMenu">
  <ul nz-menu>
    <ng-container>
      <li nz-menu-item>
        <div
          class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded-sm border border-blue-400 inline-flex items-center justify-center">
          操作
        </div>
      </li>
    </ng-container>
  </ul>
</nz-dropdown-menu>
