<div class="overflow-auto h-screen block"> 
    <div class="cal-container demo-mode">
        <p class="progress-title">根據基地限制生成建築削線範圍...</p>
        <div class="progress-bar-wrap">
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
        </div>
        <img src="assets/image/demo/calculating-001.png" alt="">
    </div>
    
    <div class="cal-container demo-mode">
        <p class="progress-title">依據建築削線規定生成容許建築量體空間...</p>
        <div class="progress-bar-wrap">
            <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
        </div>
        <img src="assets/image/demo/calculating-002.png" alt="">
    </div>
    
    <div class="cal-container demo-mode">
        <p class="progress-title">依據設計容積率生成建築量體...</p>
        <div class="progress-bar-wrap">
            <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="0"></mat-progress-bar>
        </div>
        <img src="assets/image/demo/calculating-003.png" alt="">
    </div>
    
    <div class="cal-container demo-mode">
        <p class="progress-title">冬至北向日照陰影面積檢討...</p>
        <div class="progress-bar-wrap">
            <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </div>
        <img src="assets/image/demo/calculating-004.png" alt="">
    </div>
</div>
