.integrate-container {
    @apply p-5 lg:flex justify-between lg:space-x-20;

    .inputs-wrap {
        @apply flex-auto flex items-start space-x-10 min-w-fit;
    }

    .inputs-wrap > ul {
        @apply space-y-1 flex-1;
    }

    mat-form-field {
        @apply w-full;
        max-width: 8rem;
    }

    .multi-inputs[class*='grid-cols-'] mat-form-field {
        max-width: 100%;
    }
}

figcaption {
    @apply space-y-3 mt-4;

    p {
        @apply flex items-center;
    }

    .material-symbols-rounded {
        @apply font-bold pr-2;
    }
}

.cal-container {
    @apply w-full max-w-3xl mx-auto;

    p.progress-title {
        @apply text-white text-3xl text-center font-bold;
        text-shadow: 0 2px 4px #00000029;
    }

    img {
        @apply w-full border aspect-[4/3] object-cover;
        border-radius: 40px;
    }

    .progress-bar-wrap {
        @apply flex space-x-2 mt-4 mb-8 w-full max-w-xs;
    }

    .mat-progress-bar {
        @apply flex-1 rounded-full;
        height: 14px;
    }
}

/* Demo */
.demo-mode {
    @apply h-screen flex flex-col items-center justify-center;
}
