<div>
  <cms-page-header>
  </cms-page-header>

  <nz-card class="mx-4 mb-4 border border-slate-200 rounded-md">
    <section class="relative">
      <nz-collapse nzGhost>
        <nz-collapse-panel [nzHeader]="panelHeader" [nzShowArrow]="false" [nzActive]="true" #panel
          class="collapse-fit mx-4 mb-3 md:mb-0">
          <ng-template #panelHeader>
            <p class="flex items-center text-base min-w-max">
              <span class="material-icons-outlined text-2xl -ml-3 mb-0.5">manage_search</span>
              <span class="font-medium pl-1">篩選查詢</span>
              <span nz-icon nzType="right" class="ant-collapse-arrow px-2" [nzRotate]="panel.nzActive ? 90 : 0"></span>
            </p>
          </ng-template>

          <cms-search-bar [queryRequest]="request.queryRequest" (doSearch)="onSearch()">
            <mat-form-field appearance="outline" class="selector" slot="start">
              <mat-label>退費狀態</mat-label>
              <mat-select [(ngModel)]="request.queryRequest.status">
                <mat-option [value]="0">全部</mat-option>
                <mat-option *ngFor="let opt of custOrderApiServ.custOrderRefundStatusOpts" [value]="+opt.value">
                  {{ opt.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </cms-search-bar>
        </nz-collapse-panel>
      </nz-collapse>
    </section>

    <div>
      <nz-table class="overflow-x-auto m-4" #listTable [nzFrontPagination]="false" [nzShowPagination]="false"
        [nzData]="dataSource" [nzLoading]="dataLoading" [nzSize]="'small'">
        <thead>
          <tr>
            <th *ngFor="let item of dispCols">{{item}}</th>
            <th nzRight [nzWidth]="'120px'">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listTable.data">
            <td>
              <nz-tag class="mr-0 font-semibold"
                [nzColor]="(data.status | aryFindValue: custOrderApiServ.getCustOrderRefundStatusInfos(): 'value': 'style') ?? 'default'">
                {{ data.status | aryFindValue: custOrderApiServ.getCustOrderRefundStatusInfos() :'value':'name' }}
              </nz-tag>
            </td>
            <td>{{ data.custCode }}</td>
            <td>{{ data.custName }}</td>
            <td>{{ data.reasonType | aryFindValue: custOrderApiServ.custOrderRefundReasonTypeOpts: 'value': 'name' }}</td>
            <td>{{ data.refundAmount | number }}</td>
            <td>{{ data.payTypeName | emptyFormatter: '-' }}</td>
            <td>{{ data.refundAt | dateFormatter: 'yyyy/MM/dd HH:mm': '-' }}</td>
            <td>{{ data.handlerName | emptyFormatter: '-' }}</td>
            <td>{{ data.custOrderAt | dateFormatter: 'yyyy/MM/dd HH:mm': '-' }}</td>
            <td nzRight>
              <button nz-button nz-dropdown nzType="text" [nzDropdownMenu]="menuEdit"
                class="w-11 rounded-full px-0">
                <span class="material-icons-outlined align-middle">more_vert</span>
              </button>
              <nz-dropdown-menu #menuEdit="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <button nz-button nzType="text" (click)="onEdit(data)"
                      class="w-full text-left">編輯退費</button>
                  </li>
                  <li nz-menu-item>
                    <button nz-button nzType="text" (click)="onRevertToPending(data.id)"
                      [disabled]="+(data?.status || 0) !== custOrderApiServ.custOrderRefundStatuses['已退款']"
                      class="w-full text-left">退回待退費</button>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <section>
        <nz-pagination class="flex justify-end mt-3 mb-4 px-4 lg:px-6" [nzPageIndex]="response?.pageIndex"
          [nzPageSize]="response?.pageSize" [nzTotal]="response?.totalCount" (nzPageIndexChange)="onSearch($event);">
        </nz-pagination>
      </section>
    </div>
  </nz-card>
</div>
