<div class="flex items-center justify-center px-4 md:pb-10">
  <web-glass-bg class="block w-full mx-auto md:max-w-sm" *ngIf="!isCompleted">
      <div class="p-6">
        <h1 class="text-2xl font-bold text-center mb-5 mt-2">忘記密碼</h1>
        <form [formGroup]="valForm">
          <ul class="space-y-5">
            <li>
              <div class="form-label">
                <p>身分證字號<span class="required-mark">*</span></p>
              </div>
              <mat-form-field appearance="outline" class="w-full fill-black">
                <input matInput type="text" formControlName="account" [required]="f['account'] | ctrlHasRequired">
                <mat-error class="text-xs" *ngIf="f['account'].errors">
                  <div *ngFor="let msg of formHelper.errorMsgs(f['account'].errors, '身分證字號')">{{ msg }}</div>
                </mat-error>
              </mat-form-field>
            </li>
          </ul>
          <button class="btn-primary btn-lg" (click)="onSubmit()">送出</button>
        </form>
      </div>
    </web-glass-bg>

  <web-complete message="已將密碼寄送至您的電子信箱" *ngIf="isCompleted"></web-complete>
</div>
