<form [formGroup]="validateForm">
  <div>
    <div class="grid grid-cols-1 gap-x-4">
      <mat-form-field class="w-full col-span-full" appearance="outline">
        <mat-label>名稱</mat-label>
        <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['name'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '名稱')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-2 gap-x-4">
      <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
        <mat-label>登入帳號</mat-label>
        <input matInput type="text" formControlName="account" [required]="f['account'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['account'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['account'].errors, '帳號')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
        <mat-label>狀態</mat-label>
        <mat-select formControlName="status" [required]="f['status'] | ctrlHasRequired">
          <mat-option *ngFor="let info of (statuses$ | async)" [value]="info.value">{{ info.name }}</mat-option>
        </mat-select>
        <mat-error class="text-xs" *ngIf="f['status'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['status'].errors, '狀態')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
        <mat-label>啟用日</mat-label>
        <input matInput [matDatepicker]="startAtDatepicker" formControlName="startAt"
          [required]="f['startAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="startAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['startAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['startAt'].errors, '啟用日')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
        <mat-label>停用日</mat-label>
        <input matInput [matDatepicker]="endAtDatepicker" formControlName="endAt"
          [required]="f['endAt'] | ctrlHasRequired">
        <mat-datepicker-toggle [for]="endAtDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endAtDatepicker></mat-datepicker>
        <mat-error class="text-xs" *ngIf="f['endAt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['endAt'].errors, '停用日')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
        <mat-label>密碼</mat-label>
        <input matInput type="password" formControlName="password" [required]="f['password'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['password'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['password'].errors, '密碼')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
        <mat-label>確認密碼</mat-label>
        <input matInput type="password" formControlName="confirmPassword"
          [required]="f['confirmPassword'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['confirmPassword'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['confirmPassword'].errors, '密碼', '確認密碼')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="onCancel()">取消</button>
    <button nz-button nzType="primary" (click)="onSubmit()">確認</button>
  </div>
</form>