
<form [formGroup]="valForm">
  <section>
    <h3 class="title">基本資料</h3>
    <ul class="input-group lg:grid-cols-3">
      <li>
        <div class="form-label">姓名 <span class="required-mark" *ngIf="f['name'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['name'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '姓名')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <div class="form-label">出生日期 <span class="required-mark" *ngIf="f['birthAt'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput [matDatepicker]="birthAtDatepicker" formControlName="birthAt"
            [required]="f['birthAt'] | ctrlHasRequired">
          <mat-datepicker-toggle [for]="birthAtDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #birthAtDatepicker></mat-datepicker>
          <mat-error class="text-xs" *ngIf="f['birthAt'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['birthAt'].errors, '出生日期')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <div class="form-label">性別 <span class="required-mark" *ngIf="f['gender'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <mat-select formControlName="gender" [required]="f['gender'] | ctrlHasRequired">
            <ng-container *ngFor="let opt of sharedDataServ.genderOpts">
              <mat-option [value]="opt.value">{{ opt.name }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error class="text-xs" *ngIf="f['gender'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['gender'].errors, '性別')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <div class="form-label">
          <p>身分證號<span class="required-mark" *ngIf="f['idNo'] | ctrlHasRequired">*</span></p>
        </div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="idNo" [required]="f['idNo'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['idNo'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['idNo'].errors, '身分證號')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <div class="form-label">
          <p>推薦人<span class="required-mark" *ngIf="f['recommender'] | ctrlHasRequired">*</span></p>
        </div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="recommender" [required]="f['recommender'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['recommender'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['recommender'].errors, '推薦人')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
    </ul>
  </section>

  <section>
    <h3 class="title">聯絡資訊</h3>
    <ul class="input-group lg:grid-cols-3">
      <li>
        <div class="form-label">聯絡手機 <span class="required-mark" *ngIf="f['mobile'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="mobile" [required]="f['mobile'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['mobile'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['mobile'].errors, '聯絡手機')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <div class="form-label">聯絡電話 <span class="required-mark" *ngIf="f['phone'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="phone" [required]="f['phone'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['phone'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['phone'].errors, '聯絡電話')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <div class="form-label">分機 <span class="required-mark" *ngIf="f['phoneExt'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="phoneExt" [required]="f['phoneExt'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['phoneExt'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['phoneExt'].errors, '分機')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="col-span-full">
        <div class="form-label">電子信箱 <span class="required-mark" *ngIf="f['email'] | ctrlHasRequired">*</span></div>
        <mat-form-field appearance="outline" class="w-full fill-black">
          <input matInput type="text" formControlName="email" [required]="f['email'] | ctrlHasRequired">
          <mat-error class="text-xs" *ngIf="f['email'].errors">
            <div *ngFor="let msg of formHelper.errorMsgs(f['email'].errors, '電子信箱')">{{ msg }}</div>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="col-span-full">
        <div class="form-label">戶藉地址 <span class="required-mark" *ngIf="f['resiAddr'] | ctrlHasRequired">*</span></div>
        <div class="multi-inputs grid-cols-6">
          <web-zip-code-control #resiZipCode formControlName="resiZipCodeId"
            [required]="f['resiZipCodeId'] | ctrlHasRequired">
          </web-zip-code-control>
          <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
            <input matInput type="text" formControlName="resiAddr" [required]="f['resiAddr'] | ctrlHasRequired">
            <mat-error class="text-xs" *ngIf="f['resiAddr'].errors">
              <div *ngFor="let msg of formHelper.errorMsgs(f['resiAddr'].errors, '戶藉地址')">{{ msg }}</div>
            </mat-error>
          </mat-form-field>
        </div>
      </li>

      <li class="col-span-full">
        <div class="form-label">聯絡地址 <span class="required-mark" *ngIf="f['currAddr'] | ctrlHasRequired">*</span>
          <mat-checkbox color="primary"><span class="text-base -ml-2">同上</span></mat-checkbox>
        </div>
        <div class="multi-inputs grid-cols-6">
          <web-zip-code-control #currZipCode class="w-full col-span-2" formControlName="currZipCodeId"
            [required]="f['currZipCodeId'] | ctrlHasRequired">
          </web-zip-code-control>
          <mat-form-field appearance="outline" class="w-full fill-black col-span-4">
            <input matInput type="text" formControlName="currAddr" [required]="f['currAddr'] | ctrlHasRequired">
            <mat-error class="text-xs" *ngIf="f['currAddr'].errors">
              <div *ngFor="let msg of formHelper.errorMsgs(f['currAddr'].errors, '聯絡地址')">{{ msg }}</div>
            </mat-error>
          </mat-form-field>
        </div>
      </li>
    </ul>
  </section>

  <section>
    <h3 class="title">學經歷</h3>
    <ul class="input-group">
      <ng-container formGroupName="contentJto">
        <li>
          <div class="form-label">學歷 <span class="required-mark" *ngIf="f['education'] | ctrlHasRequired">*</span></div>
          <mat-form-field appearance="outline" class="w-full fill-black">
            <textarea matInput formControlName="education" rows="8" placeholder="您的學歷..." [required]="f['education'] | ctrlHasRequired"></textarea>
            <mat-error class="text-xs" *ngIf="f['contentJto'].get('education')?.errors">
              <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('education')?.errors, '學歷')">{{ msg }}</div>
            </mat-error>
          </mat-form-field>
        </li>
        <li>
          <div class="form-label">經歷 <span class="required-mark" *ngIf="f['experience'] | ctrlHasRequired">*</span></div>
          <mat-form-field appearance="outline" class="w-full fill-black">
            <textarea matInput formControlName="experience" rows="8" placeholder="您的經歷..." [required]="f['experience'] | ctrlHasRequired"></textarea>
            <mat-error class="text-xs" *ngIf="f['contentJto'].get('experience')?.errors">
              <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('experience')?.errors, '經歷')">{{ msg }}</div>
            </mat-error>
          </mat-form-field>
        </li>
        <li>
          <div class="form-label">現職 <span class="required-mark" *ngIf="f['currJob'] | ctrlHasRequired">*</span></div>
          <mat-form-field appearance="outline" class="w-full fill-black">
            <input matInput type="text" formControlName="currJob" [required]="f['currJob'] | ctrlHasRequired">
            <mat-error class="text-xs" *ngIf="f['contentJto'].get('currJob')?.errors">
              <div *ngFor="let msg of formHelper.errorMsgs(f['contentJto'].get('currJob')?.errors, '現職')">{{ msg }}</div>
            </mat-error>
          </mat-form-field>
        </li>
      </ng-container>
    </ul>
  </section>
</form>
