<div class="">
  <form [formGroup]="valForm">
    <div class="grid grid-cols-12 gap-x-4">
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-full">
        <mat-label>所屬公司</mat-label>
        <mat-select formControlName="corpId" [required]="f['corpId'] | ctrlHasRequired">
          <mat-option [value]="0">通用元件</mat-option>
          <ng-container *ngFor="let opt of corpOpts">
            <mat-option [value]="+opt.id">{{ opt.name }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error class="text-xs" *ngIf="f['corpId'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['corpId'].errors, '所屬公司')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-full">
        <mat-label>元件名稱</mat-label>
        <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['name'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '元件名稱')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-full">
        <mat-label>元件類別</mat-label>
        <input matInput type="text" formControlName="compType" [required]="f['compType'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['compType'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['compType'].errors, '元件類別')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <h2 class="w-full col-span-12 text-xl font-bold mb-4">附件上傳</h2>
      <div class="w-full col-span-full">
        <div class="grid grid-cols-12 gap-x-4">
        </div>

        <div class="p-6 bg-white shadow rounded space-y-6">
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-2">上傳元件附件</label>
            <bbd-file-upload [selectedFile]="fileViewFile" [fileName]="editDto.compFileUploadName || '檔案預覽'"
              (fileSelected)="onCompFileSelected($event)">
            </bbd-file-upload>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 mb-2">上傳縮圖</label>
            <bbd-image-upload [imageUrl]="thumbnailAttUrl" (imageSelected)="onThumbFileSelected($event)">
            </bbd-image-upload>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="doCancel()">取消</button>
  <nz-divider nzType="vertical"></nz-divider>
  <!-- <button nz-button nzType="primary" nz-button nz-dropdown [nzDropdownMenu]="menuEdit">操作</button> -->
  <button nz-button nzType="primary" (click)="onSubmit()">確認</button>
</div>

<ng-template #timePickerCancel>
  <div class="mr-4">
    <a class="font-bold text-base h-10">取消</a>
  </div>
</ng-template>
<ng-template #timePickerConfirm>
  <div>
    <a class="font-bold text-base h-10">確定</a>
  </div>
</ng-template>

<nz-dropdown-menu #menuEdit="nzDropdownMenu">
  <ul nz-menu>
    <ng-container>
      <li nz-menu-item>
        <div
          class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded-sm border border-blue-400 inline-flex items-center justify-center">
          操作
        </div>
      </li>
      <!-- <li nz-menu-item>
        <button nz-button nzType="text" (click)="onEnableCustCat(editDto.id)" class="w-full text-left"
          [disabled]="!(editDto.status !== customerApiServ.custCatStatuses['啟用'])">啟用狀態</button>
      </li> -->
      <!-- <li nz-menu-item>
        <button nz-button nzType="text" (click)="onDisableCustCat(editDto.id)" class="w-full text-left"
          [disabled]="!(editDto.status !== customerApiServ.custCatStatuses['停用'])">停用狀態</button>
      </li> -->
    </ng-container>
  </ul>
</nz-dropdown-menu>