<div #geocoder></div>
<div class="map-container">
  <mgl-map class="w-full h-full object-cover" #mapRef [style]="'mapbox://styles/mapbox/streets-v12'"
    (load)="onMapLoad($event)" (click)="onMapClick($event)" (mapMouseMove)="onMapMouseMove($event)" [center]="center" [zoom]="[zoom]" (move)="onMove($event)">
    <!-- 標記點 -->
    <!-- <mgl-marker *ngFor="let coord of currCoords || []" [lngLat]="coord"></mgl-marker> -->

    <!-- 基地範圍-線條圖層 -->
    <mgl-geojson-source id="line" type="geojson" [data]="lineData">
      <mgl-layer id="route-line" type="line" source="line" [paint]="{
          'line-color': '#279FE8',
          'line-width': 3 }">
      </mgl-layer>
    </mgl-geojson-source>
    <mgl-geojson-source id="fill-area" type="geojson" [data]="coordFillData">
      <!-- 基地範圍-區塊填色（淺藍） -->
      <mgl-layer id="line-border-fill" type="fill" source="fill-area" [paint]="{
          'fill-color': '#279FE8',
          'fill-opacity': 0.4 }">
      </mgl-layer>
    </mgl-geojson-source>
    <mgl-geojson-source id="point" type="geojson" [data]="pointData">
      <!-- 節點 -->
      <mgl-layer id="line-points" type="circle" source="point" [paint]="{
          'circle-radius': 6,
          'circle-color': '#ffffff',
          'circle-stroke-color': '#0080FF',
          'circle-stroke-width': 2}" (layerClick)="onMapPointClick($event)">
      </mgl-layer>
    </mgl-geojson-source>

    <!-- 退縮-圖層 -->
    <mgl-geojson-source *ngIf="drawingMode === 'readOnly'" id="lineBack" type="geojson" [data]="lineBackData">
      <mgl-layer id="route" type="line" source="lineBack" [paint]="{
          'line-color': '#79AB33',
          'line-width': 3 }">
      </mgl-layer>
      <!-- 退縮-節點 -->
      <mgl-layer id="back-line-points" type="circle" source="lineBack" [paint]="{
          'circle-radius': 6,
          'circle-color': '#ffffff',
          'circle-stroke-color': '#0080FF',
          'circle-stroke-width': 2 }">
      </mgl-layer>
    </mgl-geojson-source>
    <mgl-geojson-source *ngIf="drawingMode === 'readOnly'" id="lineBackFill" type="geojson" [data]="lineBackFillData">
      <!-- 退縮-區塊填色（綠色） -->
      <mgl-layer id="back-border-fill" type="fill" source="lineBackFill" [paint]="{
          'fill-color': '#79AB33',
          'fill-opacity': 0.4,
          'fill-antialias': true,
          'fill-outline-color': '#79AB33' }">
      </mgl-layer>
    </mgl-geojson-source>

    <!-- 線段文字標籤（Edge1, Edge2...） -->
    <mgl-geojson-source id="edge-labels" *ngIf="drawingMode === 'readOnly'" [data]="edgeLabelData">
      <mgl-layer id="edge-label-layer" type="symbol" source="edge-labels" [layout]="{
      'text-field': ['get', 'label'],
      'text-size': 20,
      'symbol-placement': 'point',
      'text-anchor': 'center' }" [paint]="{ 'text-color': '#279FE8' }">
      </mgl-layer>
    </mgl-geojson-source>

    <!-- 邊界標記點 - 顯示所有點 -->
    <!-- <mgl-marker *ngFor="let border of borderCoords || []" [lngLat]="border"></mgl-marker> -->
    <!-- 邊界線圖層（黃色） -->
    <mgl-geojson-source id="borderLine" type="geojson" [data]="borderLineData">
      <mgl-layer id="border-line" type="line" source="borderLine" [paint]="{
    'line-color': '#FFC61A',
    'line-width': 4
  }">
      </mgl-layer>
      <!-- 邊界節點 -->
      <mgl-layer id="border-line-points" type="circle" source="borderLine" [paint]="{
    'circle-radius': 6,
    'circle-color': '#ffffff',
    'circle-stroke-color': '#0080FF',
    'circle-stroke-width': 2}">
      </mgl-layer>
    </mgl-geojson-source>

    <mgl-geojson-source id="border-preview-line" type="geojson" [data]="borderPreviewLineData">
      <!-- 邊界動態線 -->
      <mgl-layer id="preview-line" type="line" source="border-preview-line" [paint]="{
          'line-color': '#FFC61A',
          'line-width': 2,
          'line-dasharray': [2,2] }">
      </mgl-layer>
    </mgl-geojson-source>
    <mgl-geojson-source id="border-preview-start-point" type="geojson" [data]="borderPrevierStartPointData">
      <!-- 邊界動態節點 -->
      <mgl-layer id="start-point" type="circle" source="border-preview-start-point" [paint]="{
          'circle-radius': 6,
          'circle-color': '#ffffff',
          'circle-stroke-color': '#0080FF',
          'circle-stroke-width': 2}">
      </mgl-layer>
    </mgl-geojson-source>

  </mgl-map>
  <div class="drawing-mode">
    <div *ngIf="isDrawingOpen" class="btn-tl button-toggle-container">
      <mat-button-toggle-group name="drawingMode" aria-label="drawing Mode" [(ngModel)]="drawingToggle">
        <mat-button-toggle value="area" (click)="doChangeMode('area')">畫基地範圍</mat-button-toggle>
        <mat-button-toggle value="border" (click)="doChangeMode('border')">畫邊界線</mat-button-toggle>
      </mat-button-toggle-group>
      <button (click)="closeDrawing()" class="w-12">
        <span class="material-symbols-rounded align-middle">
          close
        </span>
      </button>
    </div>

    <div class="info-tr">
      <div class="info-content" *ngIf="currArea">
        <p class="text-sm">基地面積 {{ currArea | number }} &#13217;</p>
      </div>
      <div class="flex-1">
        <div class="flex space-x-2 ">
          <ng-container *ngIf="drawingMode !== 'readOnly' && isDrawingOpen">
            <button mat-flat-button (click)="doRefreshMarker()">
              <span class="material-symbols-rounded">refresh</span><span>重繪</span></button>
            <button mat-flat-button (click)="onSubmit()">
              <span class="material-symbols-rounded">check</span><span>確認</span></button>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
  <ng-container *ngIf="drawingMode !== 'readOnly'">
    <button mat-flat-button class="btn-tl" *ngIf="!isDrawingOpen" (click)="toggleDrawing()"><span
        class="material-symbols-rounded">
        rebase_edit
      </span><span>開始畫圖</span></button>
  </ng-container>

  <button mat-flat-button class="btn-bl" (click)="onChangeDimension('3d')" *ngIf="currMapDim === '2d'">切換3D</button>
  <button mat-flat-button class="btn-bl" (click)="onChangeDimension('2d')" *ngIf="currMapDim === '3d'">切換2D</button>
</div>
