<bbd-loading-indicator *ngIf="false" [type]="'spinner'" [message]="'活動資料讀取中，請稍候'"></bbd-loading-indicator>
<div class="min-h-container">
  <div class="max-w-container grid grid-cols-1 gap-y-2 gap-x-10 xl:grid-cols-3">

    <!-- Info -->
    <header class="info-header">
      <app-camp-reg-info [campInfo]="response"></app-camp-reg-info>
    </header>

    <!-- 報名表-->
    <div class="account-wrap xl:col-span-2">
      <web-glass-bg class="w-fit block mx-auto" *ngIf="isCompleted">
        <div class="p-10">
          <web-complete message="活動報名完成"></web-complete>
        </div>
      </web-glass-bg>

      <mat-horizontal-stepper labelPosition="bottom" *ngIf="!isCompleted">
        <mat-step>
          <form [formGroup]="valForm">
            <ng-template matStepLabel>基本資料</ng-template>
            <web-glass-bg>
              <div class="inner-wrap">
                <web-camp-reg-control #regDataCtrl formControlName="regData"></web-camp-reg-control>
              </div>
            </web-glass-bg>
            <div class="toolbar">
              <button class="btn-primary btn-lg" (click)="onSubmit()" *ngIf="!allowPayFlow">確認報名</button>
              <button matStepperNext class="btn-primary btn-lg" *ngIf="allowPayFlow">下一步</button>
            </div>
          </form>
        </mat-step>

        <mat-step *ngIf="false">
          <ng-template matStepLabel>課程需求</ng-template>

          <web-glass-bg>
            <div class="inner-wrap">
              <section class="form-section">
                <ul class="input-group lg:grid-cols-2">
                  <li>
                    <div class="form-label">膳食類型</div>
                    <mat-form-field appearance="outline" class="w-full fill-black">
                      <mat-select value="不拘">
                        <mat-option value="不拘" checked>不拘</mat-option>
                        <mat-option value="葷食">葷食</mat-option>
                        <mat-option value="素食">素食</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>

                  <li>
                    <div class="form-label">團體代碼 (選填)</div>
                    <mat-form-field appearance="outline" class="w-full fill-black">
                      <input matInput type="text" placeholder="團體代碼">
                    </mat-form-field>
                  </li>

                  <li class="flex flex-col space-y-3">
                    <mat-checkbox color="primary"><span class="-ml-2">需要上課證明</span></mat-checkbox>
                    <mat-checkbox color="primary"><span class="-ml-2">需要長照積分</span></mat-checkbox>
                    <mat-checkbox color="primary"><span class="-ml-2">需要護理學分</span></mat-checkbox>
                  </li>
                </ul>
              </section>
            </div>
          </web-glass-bg>
          <div class="toolbar">
            <button matStepperPrevious mat-button>上一步</button>
            <button matStepperNext class="btn-primary btn-lg">完成報名</button>
          </div>
        </mat-step>

        <mat-step *ngIf="allowPayFlow">
          <ng-template matStepLabel>付款資訊</ng-template>

          <web-glass-bg>
            <div class="px-5 py-14 max-w-fit mx-auto">
              <div class="pb-3">
                <p>本會使用</p>
                <img src="assets/image/icon/ecpay_logo.png" alt="綠界科技" class="mx-auto sm:ml-0">
              </div>
              <p>提供 <span class="font-bold">信用卡、WebATM、ATM、超商代碼</span> 等繳款多元付款方式。</p>
              <p>按下「前往付款」後將跳轉至金流付款頁面 <span class="opacity-70">(SSL 256 bits 安全加密機制)</span>，請安心付款。</p>

              <button class="btn-primary btn-lg mt-5" (click)="onSubmit()">前往付款</button>
            </div>
          </web-glass-bg>

          <div class="toolbar">
            <button matStepperPrevious mat-button>上一步</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
