<mat-sidenav-container class="sub-sidenav">
    <div class="hidden lg:block">
        <mat-nav-list>
            <a mat-list-item routerLink="profile" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">個人資料</a>
            <a mat-list-item routerLink="password" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">重設密碼</a>
        </mat-nav-list>
    </div>
    <div class="w-full mx-auto lg:px-10">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>