<div>
  <cms-page-header>
    <div class="flex gap-x-2">
      <button mat-raised-button (click)="onExport()" [disabled]="!result">
        <span class="material-icons-outlined pr-2 text-lg">file_download</span>
        <span>匯出</span>
      </button>
    </div>
  </cms-page-header>

  <nz-card class="mx-4 mb-4 border border-slate-200 rounded-md">
    <section class="relative">
      <nz-collapse nzGhost>
        <nz-collapse-panel [nzHeader]="panelHeader" [nzShowArrow]="false" [nzActive]="true" #panel
          class="collapse-fit mx-4 mb-3 md:mb-0">
          <ng-template #panelHeader>
            <p class="flex items-center text-base min-w-max">
              <span class="material-icons-outlined text-2xl -ml-3 mb-0.5">manage_search</span>
              <span class="font-medium pl-1">篩選查詢</span>
              <span nz-icon nzType="right" class="ant-collapse-arrow px-2"
                [nzRotate]="panel.nzActive ? 90 : 0"></span>
            </p>
          </ng-template>

          <div class="flex flex-col md:flex-row md:space-x-2 items-start md:mb-4">
            <cms-search-bar [hideTextInput]="true" [queryRequest]="request" (doSearch)="onSearch()">
              <mat-form-field appearance="outline" class="selector" slot="start">
                <mat-label>開始日期</mat-label>
                <input matInput [matDatepicker]="startAtPicker" [(ngModel)]="request.startAt">
                <mat-datepicker-toggle [for]="startAtPicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #startAtPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="selector" slot="start">
                <mat-label>結束日期</mat-label>
                <input matInput [matDatepicker]="endAtPicker" [(ngModel)]="request.endAt">
                <mat-datepicker-toggle [for]="endAtPicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #endAtPicker></mat-datepicker>
              </mat-form-field>
            </cms-search-bar>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </section>

    <div>
      <nz-table class="overflow-x-auto m-4" #statTable
        [nzData]="result?.details || []" [nzFrontPagination]="false" [nzShowPagination]="false"
        [nzLoading]="dataLoading" [nzSize]="'small'" [nzBordered]="true">
        <thead>
          <tr>
            <th *ngFor="let col of dispCols; let idx = index;" [nzAlign]="(idx > 0) ? 'right' : 'left'">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of statTable.data">
            <td>{{ data.orderTypeName ?? data.orderType }}</td>
            <td class="text-right text-blue-600">{{ data.payCount | number }}</td>
            <td class="text-right text-blue-600">{{ data.payTotal | number }}</td>
            <td class="text-right text-red-500">{{ data.refundCount | number }}</td>
            <td class="text-right text-red-500">-{{ data.refundTotal | number }}</td>
            <td class="text-right text-red-500">-{{ data.txFeeTotal | number }}</td>
            <td class="text-right text-blue-600">{{ data.netTotal | number }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="result">
          <tr class="font-semibold bg-gray-50">
            <td>{{ result.orderTypeName ?? '總計' }}</td>
            <td class="text-right text-blue-600">{{ result.payCount | number }}</td>
            <td class="text-right text-blue-600">{{ result.payTotal | number }}</td>
            <td class="text-right text-red-500">{{ result.refundCount | number }}</td>
            <td class="text-right text-red-500">-{{ result.refundTotal | number }}</td>
            <td class="text-right text-red-500">-{{ result.txFeeTotal | number }}</td>
            <td class="text-right text-blue-600">{{ result.netTotal | number }}</td>
          </tr>
        </tfoot>
      </nz-table>
    </div>
  </nz-card>
</div>
