<div class="">
  <form [formGroup]="valForm">
    <div class="grid grid-cols-12 gap-x-4">
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-3">
        <mat-label>統一編號</mat-label>
        <input matInput type="text" formControlName="taxId" [required]="f['taxId'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['taxId'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['taxId'].errors, '統一編號')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-9">
        <mat-label>公司名稱</mat-label>
        <input matInput type="text" formControlName="name" [required]="f['name'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['name'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['name'].errors, '公司名稱')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <div class="w-full col-span-full sm:col-span-6">
        <bbd-zip-code-widget [title]="''" formControlName="zipCodeId"></bbd-zip-code-widget>
      </div>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-6">
        <mat-label>地址</mat-label>
        <input matInput type="text" formControlName="addr" [required]="f['addr'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['addr'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['addr'].errors, '地址')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>

      <h2 class="w-full col-span-12 text-xl font-bold mb-4">聯絡資訊</h2>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-3">
        <mat-label>聯絡人</mat-label>
        <input matInput type="text" formControlName="cpName" [required]="f['cpName'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['cpName'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['cpName'].errors, '聯絡人')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-full sm:col-span-3">
        <mat-label>聯絡人手機</mat-label>
        <input matInput type="text" formControlName="cpMobile" [required]="f['cpMobile'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['cpMobile'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['cpMobile'].errors, '聯絡人手機')">{{ msg }}
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-8 sm:col-span-4">
        <mat-label>聯絡人室話</mat-label>
        <input matInput type="text" formControlName="cpPhone" [required]="f['cpPhone'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['cpPhone'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['cpPhone'].errors, '聯絡人室話')">{{ msg }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full col-span-4 sm:col-span-2">
        <mat-label>聯絡人分機</mat-label>
        <input matInput type="text" formControlName="cpPhoneExt" [required]="f['cpPhoneExt'] | ctrlHasRequired">
        <mat-error class="text-xs" *ngIf="f['cpPhoneExt'].errors">
          <div *ngFor="let msg of formHelper.errorMsgs(f['cpPhoneExt'].errors, '聯絡人分機')">{{ msg }}
          </div>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="doCancel()">取消</button>
  <nz-divider nzType="vertical"></nz-divider>
  <!-- <button nz-button nzType="primary" nz-button nz-dropdown [nzDropdownMenu]="menuEdit">操作</button> -->
  <button nz-button nzType="primary" (click)="onSubmit()">確認</button>
</div>

<ng-template #timePickerCancel>
  <div class="mr-4">
    <a class="font-bold text-base h-10">取消</a>
  </div>
</ng-template>
<ng-template #timePickerConfirm>
  <div>
    <a class="font-bold text-base h-10">確定</a>
  </div>
</ng-template>

<nz-dropdown-menu #menuEdit="nzDropdownMenu">
  <ul nz-menu>
    <ng-container>
      <li nz-menu-item>
        <div
          class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded-sm border border-blue-400 inline-flex items-center justify-center">
          操作
        </div>
      </li>
      <!-- <li nz-menu-item>
        <button nz-button nzType="text" (click)="onEnableCustCat(editDto.id)" class="w-full text-left"
          [disabled]="!(editDto.status !== customerApiServ.custCatStatuses['啟用'])">啟用狀態</button>
      </li> -->
      <!-- <li nz-menu-item>
        <button nz-button nzType="text" (click)="onDisableCustCat(editDto.id)" class="w-full text-left"
          [disabled]="!(editDto.status !== customerApiServ.custCatStatuses['停用'])">停用狀態</button>
      </li> -->
    </ng-container>
  </ul>
</nz-dropdown-menu>