<bbd-loading-indicator *ngIf="false" [type]="'spinner'" [message]="'活動資料讀取中，請稍候'"></bbd-loading-indicator>
<div class="min-h-container">
  <div class="max-w-container grid grid-cols-1 gap-y-2 gap-x-10 xl:grid-cols-3">

    <!-- Info -->
    <header class="info-header">
      <app-camp-reg-info></app-camp-reg-info>
    </header>

    <!-- 報名表-->
    <div class="xl:col-span-2">
      <web-complete message="課程已報名完成"></web-complete>
      <div class="space-y-4 mb-5">
        <web-glass-bg class="card">
          <div class="card-header">
            <h2 class="card-title">訂單資訊</h2>
          </div>

          <ul class="customer-info">
            <li *ngFor="let info of orderInfo">
              <p class="info-label">{{ info.infoName }}</p>
              <p>{{ info.content }}</p>
            </li>
          </ul>
        </web-glass-bg>

        <web-glass-bg class="card">
          <div class="card-header">
            <h2 class="card-title">訂購人資訊</h2>
          </div>
          <ul *ngFor="let customer of customerInfo" class="customer-info">
            <li>
              <p class="info-label">姓名</p>
              <p>{{ customer.name }}</p>
            </li>

            <li>
              <p class="info-label">身分證字號</p>
              <p>{{ customer.nationalId }}</p>
            </li>

            <li>
              <p class="info-label">性別</p>
              <p>{{ customer.gender }}</p>
            </li>

            <li>
              <p class="info-label">飲食類型</p>
              <p>{{ customer.dietType }}</p>
            </li>

            <li>
              <p class="info-label">團體代碼</p>
              <p>{{ customer.groupCode }}</p>
            </li>
            <li>
              <p class="info-label">現職機構</p>
              <p>{{ customer.organization }}</p>
            </li>

            <li>
              <p class="info-label">任職科別</p>
              <p>{{ customer.department }}</p>
            </li>

            <li>
              <p class="info-label">現任職稱</p>
              <p>{{ customer.title }}</p>
            </li>
          </ul>

        </web-glass-bg>

        <web-glass-bg class="card">
          <div class="card-header">
            <h2 class="card-title">聯絡資訊</h2>
          </div>
          <ul *ngFor="let customer of customerInfo" class="customer-info">
            <li>
              <p class="info-label">Email</p>
              <p>{{ customer.email }}</p>
            </li>

            <li>
              <p class="info-label">手機</p>
              <p>{{ customer.mobile }}</p>
            </li>

            <li>
              <p class="info-label">分機電話</p>
              <p>{{ customer.extPhone }}</p>
            </li>

            <li>
              <p class="info-label">緊急聯絡人</p>
              <p>{{ customer.emergencyContactName }}</p>
            </li>

            <li>
              <p class="info-label">關係</p>
              <p>{{ customer.emergencyContactRelation }}</p>
            </li>

            <li>
              <p class="info-label">緊急聯絡電話</p>
              <p>{{ customer.emergencyContactPhone }}</p>
            </li>
          </ul>
        </web-glass-bg>

        <web-glass-bg class="card">
          <div class="card-header">
            <h2 class="card-title">課程需求</h2>
          </div>
          <ul *ngFor="let customer of customerInfo" class="customer-info">
            <li>
              <p class="info-label">需要上課證明</p>
              <p>{{ customer.needCourseCertificate ? '是' : '否' }}</p>
            </li>

            <li>
              <p class="info-label">需要長照積分</p>
              <p>{{ customer.needLongTermCarePoints ? '是' : '否' }}</p>
            </li>

            <li>
              <p class="info-label">需要護理學分</p>
              <p>{{ customer.needNursingCredits ? '是' : '否' }}</p>
            </li>

          </ul>

        </web-glass-bg>
      </div>
      <a class="link-underline float-right my-3" routerLink="/">
        <span>回首頁</span><span class="material-symbols-rounded">arrow_right_alt</span>
      </a>
    </div>
  </div>
</div>
