<div class="p-4">
  <h2 class="headline">我的活動</h2>
  <form action="" class="search-wrap md:w-1/2 xl:w-1/3">
    <mat-form-field appearance="outline" class="fill-black">
      <span matPrefix class="material-symbols-rounded">search</span>
      <input matInput type="text" [(ngModel)]="request.queryRequest.queryString" name="searchValue" placeholder="搜尋">
      <button *ngIf="request.queryRequest.queryString" matSuffix mat-icon-button aria-label="Clear"
        (click)="request.queryRequest.queryString = null; onSearch();">
        <span class="material-symbols-rounded">close</span>
      </button>
    </mat-form-field>
    <button class="btn-primary btn-lg" [ngClass]="{'disabled-hide': !request.queryRequest.queryString}"
      [disabled]="!request.queryRequest.queryString" (click)="onSearch()">
      搜尋
    </button>
  </form>

  <bbd-loading-indicator *ngIf="false" [message]="'活動資料讀取中，請稍候'"></bbd-loading-indicator>
  <!-- 空資料 -->
  <web-result-empty *ngIf="isLoading && (dataSource | isEmpty)" [message]="'查無活動資料'"
    class="block mt-5"></web-result-empty>

  <!-- 有資料 -->
  <!-- *ngIf="!isLoading && (dataSource | isEmpty)" -->
  <div class="space-y-4">
    <ng-container>
      <web-glass-bg class="block" *ngFor="let item of dataSource">
        <mat-accordion class="accordion-transparent block p-2">
          <mat-expansion-panel class="rounded-full" hideToggle>
            <mat-expansion-panel-header class="py-2">
              <div class="header-wrap">
                <p class="panel-title">{{ item.campName }}</p>
                <span class="title-sub">活動時間：{{ item.campStartAt | dateFormatter:'yyyy/MM/dd': '-' }} ~ {{
                  item.campEndAt | dateFormatter:'yyyy/MM/dd': '-' }}</span>
              </div>
              <!-- 待付款 -->
              <div class="status-wrap text-amber-600" *ngIf="+item.status === + campaignApiServ.campRegStatuses['待付款']">
                <span class="material-symbols-rounded">pending</span>
                <span class="status-label">待付款</span>
              </div>
              <!-- 報名成功 -->
              <div class="status-wrap text-green-600" *ngIf="+item.status === + campaignApiServ.campRegStatuses['已報名']">
                <span class="material-symbols-rounded">check_circle</span>
                <span class="status-label">報名成功</span>
              </div>
              <!-- 待退款 -->
              <div class="status-wrap text-pink-500" *ngIf="+item.status === + campaignApiServ.campRegStatuses['待退款']">
                <span class="material-symbols-rounded">credit_card_clock</span>
                <span class="status-label">待退款</span>
              </div>
              <!-- 已取消 -->
              <div class="status-wrap text-red-500" *ngIf="+item.status === + campaignApiServ.campRegStatuses['已取消']">
                <span class="material-symbols-rounded">cancel</span>
                <span class="status-label">已取消</span>
              </div>

            </mat-expansion-panel-header>

            <div class="panel-content">
              <ul class="list-circle">
                <li>報名姓名 : {{ item.custName }}</li>
                <li>身份證號 : {{ item.custIdNo }}</li>
                <li>行動電話 : {{ item.custMobile }}</li>
                <li>電子信箱 : {{ item.custEmail }}</li>
                <!-- <li>繳費方式 : 信用卡</li>
              <li>金流繳費編號 : PAY20240315001</li> -->
                <li>報名時間 : {{ item.regAt | dateFormatter:'yyyy/MM/dd HH:mm': '-' }}</li>
              </ul>
              <div class="btns-wrap">
                <a class="btn-white" [routerLink]="['/campaign/detail/', item.campUniqueId]"><span
                  class="material-symbols-rounded pr-1">info</span>活動資訊</a>
                <!-- <button type="button" class="btn-white"><span
                  class="material-symbols-rounded pr-1">print</span>列印證明</button> -->
                <button type="button" class="btn-primary" *ngIf="item.custOrderId && item.status === campaignApiServ.campRegStatuses['待付款']"
                  (click)="onGoPayment(item.custOrderId)">
                  <span class="material-symbols-rounded pr-1">payments</span>前往付款
                </button>
                <button type="button" class="btn-white"
                  *ngIf="nowAt < (item.campStartAt || nowAt) && +item.status <= +campaignApiServ.campRegStatuses['已報名']"
                  (click)="onCancelReg(item)">
                  <span class="material-symbols-rounded pr-1">cancel</span>取消報名
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </web-glass-bg>
      <web-paginator
        [params]="{ length: response?.totalCount || 0, pageSize: response?.pageSize || 0, pageIndex: response?.pageIndex || 0 }"
        (pageIndexChange)="onSearch($event)">
      </web-paginator>
    </ng-container>
  </div>


</div>
